{% run (index>Novidades) %}
{% run (index>SearchCategory) %}

<div id="pagetitle">
    <div id="featured">
        <h1>Categorias</h1>
    </div>
</div>

<div id="content" class="content-right">

    <div class="sidebar sidebar-right">
        <div class="widgetwrap">
            <h4>Novidades</h4>
            {% if ({% get (Novidades) %} != ) Novidades %}
            {% each (Novidades) Novidade %}
            <div class="latestposts">
                <span class="tinytext">$Novidade(insert_date)</span>
                <span class="postlisttitle"><a href="{% uri (post/view/$Novidade(id)) %}">$Novidade(title)</a></span>
            </div>
            {% end(Novidade) %}
            {% else(Novidades) %}
            <div class="latestposts">
                <p>Sem postagens!</p>
            </div>
            {% end(Novidades) %}
        </div>
    </div>

    <div class="content-narrow contentwidth">
        {% if ({% get (Search) %} != ) Search %}
        {% each (Search) List %}
        <h1><a href="{% uri (post/category/$List(id)) %}">$List(name)</a></h1>
        <p>$List(description)</p>
        {% end(List) %}
        {% else(Search) %}
        <div class="newsList">
            <div class="newsinfo">
                <h3 style="margin:0 0 4px 0;">Ops...</h3>
                <p>Nenhuma categoria encontrada!</p>
            </div>
        </div>
        {% end(Search) %}

        {% if ({% get (Search Pagination) %} != ) Pagination %}
        <div id="pager">
            <ul id="postPagination">
                {% each (Search Pagination) Pages %}
                {% if ($Pages(page) != current) Current$Pages() %}
                <li class="current">
                    <a href="{% uri (category/$Pages(page)) %}" class="page" title="$Pages(label)"><span>$Pages(label)</span></a>
                </li>
                {% else(Current$Pages()) %}
                <li>
                    <a href="#"><span>$Pages(label)</span></a>
                </li>
                {% end(Current$Pages()) %}
                {% end(Pages) %}
            </ul>
        </div>
        {% end(Pagination) %}

    </div>

</div>
