{% ajax (true) %}
{% run (Account>Lock) %}
{% run (Account>My) %}
{% run (Account>Save) %}
{% run (Account>Open) %}
<div id="inner">

    <!-- Form Elements -->
    <form id="form" action="{% uri (this) %}" method="post">
        <input name="status" id="status" type="hidden" value="1" />
        <ul>

            <li>
                <label for="name">Nome</label>
                <input name="name" id="name" type="text" class="medium obrigatory" maxlength="255" value="{% get (name) Form %}" />
            </li>

            <li>
                <label for="account">Usuário</label>
                <input name="account" id="account" type="text" class="small obrigatory" maxlength="45" value="{% get (account) Form %}" />
            </li>

            <li>
                <label for="password">Senha</label>
                <input name="password" id="password" type="password" class="small" maxlength="45" value="" />
            </li>

            <li>
                <label for="confirmpassword">Confirme a Senha</label>
                <input name="confirmpassword" id="confirmpassword" type="password" class="small" maxlength="45" value="" />
            </li>

            <li>
                <a id="form-cancel" href="#cancel" onclick="doPage('dashboard');" class="button_white right">Cancelar</a>
                <span class="right">&nbsp;&nbsp;&nbsp;</span>
                <a id="form-submit" href="#submit" onclick="doPost(this);" class="button right">Ok</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>
<script type="text/javascript">
    doTitle("{% get (Title) %}");
    function doPost(thisObject) {
        if ($("#password").val() != $("#confirmpassword").val()) {
            alert("As senhas informadas não conferem!");
            return false;
        }
        doSubmit(thisObject);
    }
</script>