{% run (index>ViewPost) %}

{% if ({% get (id) Post %} != ) ChkPost %}
<div id="pagetitle">
    <div id="featured">
        <div id="breadcrumb">Você está em: <a href="{% uri () %}">Início</a> / <a href="{% uri (post/category/{% get (ips_category_id) Post %}) %}">{% get (ips_category_name) Post %}</a></div>
        <h1>{% get (title) Post %}</h1>
    </div>
</div>

<div id="content" class="content-right">
    {% if ({% get (Gallery) %} != ) ChkGallery %}
    <div class="sidebar sidebar-right">
        <div class="widgetwrap">
            {% each (Gallery) Gallery %}
            <div class="latestposts">
                <br />
                <span class="tinytext"><a href="{% uri ($Gallery(thumb)) %}">$Gallery(title)</a></span>
                <span class="postlisttitle center"><a href="{% uri ($Gallery(file)) %}" rel="prettyPhoto"><img src="{% uri ($Gallery(thumb)) %}" alt="$Gallery(description)" width="180px" /></a></span>
                <br />
            </div>
            {% end(Gallery) %}
        </div>
    </div>
    {% else(ChkGallery) %}
    {% run (index>Novidades) %}
    <div class="sidebar sidebar-right">
        <div class="widgetwrap">
            <h4>Novidades</h4>
            {% if ({% get (Novidades) %} != ) Novidades %}
            {% each (Novidades) Novidade %}
            <div class="latestposts">
                <span class="tinytext">$Novidade(insert_date)</span>
                <span class="postlisttitle"><a href="{% uri (post/view/$Novidade(id)) %}">$Novidade(title)</a></span>
            </div>
            {% end(Novidade) %}
            {% else(Novidades) %}
            <div class="latestposts">
                <p>Sem postagens!</p>
            </div>
            {% end(Novidades) %}
        </div>
    </div>
    {% end(ChkGallery) %}
    <div class="content-narrow contentwidth">

        <h3 style="margin:0 0 4px 0;"></h3>
        <p class="tiny">Postado em {% get (insert) Post %} por {% get (ips_account_name) Post %}</p>
        <div>{% html (text) Post %}</div> <!-- search?s=Pesquisar -->
        <p class="tiny">{% html (metatag) Post %}</p>

        <div id="comments-wrapper">
            <h2 id="comments">4 comentários</h2>
            <div class="navigation">
                <div class="alignleft"></div>
                <div class="alignright"></div>
            </div>
            <ul class="commentlist">
                <li class="comment byuser comment-author-admin even thread-even depth-1" id="li-comment-2">
                    <div id="comment-2">
                        <div class="comment-meta commentmetadata"><a href="#comment-2">October 5, 2010 at 12:46 pm</a></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt erat at massa aliquet et lacinia eros porta. Quisque elementum vestibulum lorem, nec euismod mauris mattis vulputate.</p>
                    </div>
                </li>
                <li class="comment byuser comment-author-admin odd alt thread-odd thread-alt depth-1" id="li-comment-4">
                    <div id="comment-4">
                        <div class="comment-meta commentmetadata"><a href="#comment-4">October 5, 2010 at 12:46 pm</a></div>
                        <p>Nulla ultrices quam ut lectus facilisis egestas. Donec id metus risus. Donec felis arcu, posuere at tincidunt vel, lobortis ut lectus. Maecenas malesuada tortor id tortor sagittis dictum.Nulla ultrices quam ut lectus facilisis egestas. Donec id metus risus. Donec felis arcu, posuere at tincidunt vel, lobortis ut lectus. Maecenas malesuada tortor id tortor sagittis dictum.</p>
                    </div>
                </li>
            </ul>
            <div class="navigation">
                <div class="alignleft"></div>
                <div class="alignright"></div>
            </div>
        </div>

        <div id="respond">
            <h2>Comentar</h2>
            <form action="http://itworx.no/calibra/wp-comments-post.php" method="post" id="commentform">
                <p>
                    <input type="text" name="author" id="author" value="" size="22" tabindex="1" aria-required='true' />
                    <label for="author"><small>Nome</small></label>
                </p>
                <p>
                    <input type="text" name="email" id="email" value="" size="22" tabindex="2" aria-required='true' />
                    <label for="email"><small>E-mail</small></label>
                </p>
                <p>
                    <input type="text" name="url" id="url" value="" size="22" tabindex="3" />
                    <label for="url"><small>Site</small></label>
                </p>
                <p>
                    <textarea name="comment" id="comment" cols="58" rows="10" tabindex="4"></textarea>
                </p>
                <p>
                    <input name="submit" type="submit" id="submit" tabindex="5" value="Submit comment" />
                </p>
            </form>
        </div>
    </div>
</div>
{% else(ChkPost) %}
<div id="pagetitle">
    <div id="featured">
        <h1>Ops...</h1>
    </div>
</div>
<div id="content">
    <div class="content-full">
        <p>Artigo não encontrado!<br /><br /><br /><br /><br /></p>
    </div>
</div>
{% end(ChkPost) %}