<!-- app(postagens.editar) -->
<form action="#" method="post" class="form label-inline">
    <div class="portlet x12">
        <div class="portlet-header"><h4>Postagens</h4></div>
        <div class="portlet-content">
            <div class="field"><label for="titulo">Título </label> <input id="titulo" maxlength="255" name="titulo" type="text" class="xlarge" /></div>
            <div class="field"><label for="autor">Autor </label> <input id="autor" maxlength="255" name="autor" type="text" class="medium" /></div>
            <div class="field">
                <label for="fontes_id">Fonte </label>
                <select id="fontes_id" class="medium">
                    <!-- each ($(fontes)) fontes -->
                    <option value="$fontes(id)">$fontes(nome)</option>
                    <!-- end(fontes) -->
                </select>
            </div>
            <div class="field">
                <label for="texto">Texto </label>
                <textarea rows="30" name="texto" class="xlarge"></textarea>
            </div>
            <div class="buttonrow">
                <button class="btn btn-grey" type="submit">Salvar</button>
                <button class="btn btn-grey" type="reset" onclick="$.doOpen('painel.html?content=postagens');">Cancelar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-red" type="reset" onclick="$.doRemover('painel.html?content=postagens-remover&id=<!-- $(id) -->');">Remover</button>
            </div>
        </div>
    </div>
</form>
