<div class="portlet x12">
    <div class="portlet-header"><h4>Usuários</h4></div>
    <div class="portlet-content">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="usuarios">
            <thead>
                <tr>
                    <th style="width: 10%;"></th>
                    <th style="width: 20%;">Usuário</th>
                    <th>Nome</th>
                </tr>
            </thead>
        </table>
    </div>
</div>