{% ajax (true) %}
{% run (Account>Lock) %}
{% run (Account>SetID) %}
{% run (Account>Delete) %}
<div id="inner">
    <p>Por favor, aguarde!</p>
    <p>Removendo itens selecionados...</p>
</div>
<script type="text/javascript">
    doTitle("{% get (Title) %}");
</script>