<div class="post">
    <p class="abouttitle">Sobre</p>
    <p class="contentfull">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.</p>
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tellus sem, euismod ut consequat id, impe rdiet id odio. Mauris tincidunt sapien vitae orci sagittis eleifend. Proin vitae odio sed urna iaculis consectetur sed id sapien. Integer nec orci in massa placerat ornare sed eu quam.</p>
    </blockquote>
    <p class="contentfull">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.</p>
    <p class="contentfull">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.</p>
    <ol>
        <li>justo nec tristique</li>
        <li>interdum enim ligula</li>
        <li>justo nec tristique</li>
        <li>aenean ullamcorper metus</li>
        <li>justo nec tristique</li>
        <li>duis nec justo eu</li>
    </ol>
    <p class="contentfull">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.</p>
    <ul>
        <li>justo nec tristique</li>
        <li>interdum enim ligula</li>
        <li>justo nec tristique</li>
        <li>aenean ullamcorper metus</li>
        <li>justo nec tristique</li>
        <li>duis nec justo eu</li>
    </ul>
</div>