<div id="sites">
    <p class="sites">Parceiros</p>
    <ul>
        <li><a href="http://www.insigndigital.com.br">Insign Digital</a></li>
        <li><a href="http://compatilhando.me">Compartilhando.me</a></li>
        <li><a href="http://www.androidanos.com.br">Androidanos</a></li>
        <li><a href="http://www.heronsantos.com">Heron Santos</a></li>
        <li><a href="http://www.amatreco.org">Amatreco.org</a></li>
        <li><a href="http://www.tavaresereis.com.br">Tavares & Reis Advogados Associados</a></li>
        <li><a href="http://www.gamematchpoint.com.br">Game Match Point</a></li>
    </ul>
</div>
