<div class="slider-wrap">
    <div id="ribbon">&nbsp;</div>
    <div id="main-photo-slider" class="csw">
        <div class="panelContainer">
            <!-- for (1, 6) panel -->
            <div class="panel" title="Panel $panel()">
                <div class="wrapper">
                    <a href="index.html?content=postagem&id=$panel()"><img src="imagens/press/image$panel().jpg" alt="temp" /></a>
                    <div class="photo-meta-data">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                    </div>
                </div>
            </div>
            <!-- end(panel) -->
        </div>
    </div>
</div>