<div id="popular">
    <p class="poptuts">Os mais vistos</p>
    <div class="poptut">
        <ul>
            <!-- for (1, 6) popular -->
            <li>
                <img src="imagens/press/poptutpic.jpg" alt="listicon" />
                <a href="index.html?content=postagem&id=$popular()">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies.</a>
            </li>
            <!-- end(popular) -->
        </ul>
    </div>
</div>