#movers-row div a.cross-link { 
	float: left; 
	margin-top: -9px;
	margin-right: -2px;
}

/* Fixing negative margins */

#movers-row  { 
	position: relative; 
	zoom: 1;
}

.post {
	margin: 18px;
	width: 650px;
	float: left;
}

.post p.content {
	margin: 15px 0 0 20px;
}

.post p.meta {
	width: 400px;
}

.postmeta .comments {
	width: 130px;
	margin-right: 0px;	
}

#sideRight {
	margin-right: -6px;
}

#ads {
	margin:30px 0 0 3px;
}

.articles-nav {
	overflow: hidden;
	margin: 0 0 10px 10px;
	width: 100%;
}

.slider-wrap {
	border:1px solid #DDDDDD;
	margin:30px;
	position:relative;
	width:650px;
}

.articles-nav .pages {
	margin:0 8%;
}

#loginbox a.reg {
	float: left;
}

/* Adding IE6 support for the custom styling of the form elements */

#loginbox .formText {
	background:url("../../imagens/press/loginbg.jpg") no-repeat;
	border:medium none;
	color:#777777;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:italic;
	height:29px;
	line-height:30px;
	margin:12px 0 4px 35px;
	padding-left:30px;
	width:149px;
}

#loginbox .formPassword {
	background:url("../../imagens/press/passbg.jpg") no-repeat;
	border:medium none;
	color:#777777;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:italic;
	height:29px;
	line-height:30px;
	margin:0 0 14px 35px;
	padding-left:30px;
	width:149px;
}

#loginbox .formSubmit {
	background:url("../../imagens/press/loginb.jpg") no-repeat;
	border:medium none;
	color:#FFFFFF;
	cursor:pointer;
	float:right;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	height:20px;
	margin-right:50px;
	text-transform:uppercase;
	width:53px;
}

.search .searchText {
	background:url("../../imagens/press/searchbg.gif") no-repeat;
	border:medium none;
	color:#777777;
	float:right;
	font-size:11px;
	height:34px;
	line-height:30px;
	margin-top:15px;
	padding-left:10px;
	width:188px;
}

.search .searchSubmit {
	display:none;
	float:right;
}

#replytopost form .commentForm {
	display: block;
	margin: 0 0 15px 0;
	padding: 10px 5px;
	font: 14px/18px "Lucida sans", Tahoma, sans-serif;
	color: #454545;
	width: 240px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #e4e4e4;
}

#replytopost .textArea {
	display: block;
	width: 510px;
	height: 210px;
	padding: 10px;
	margin: 0 0 20px 0;
	font: 14px/18px "Lucida sans", Tahoma, sans-serif;
	color: #454545;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #e4e4e4;
}

#replytopost .commentSubmit {
	display: block;
	border: none;
	background: transparent url(../../imagens/press/submist.gif) no-repeat;
	cursor: pointer;
	height: 33px;
	width: 107px;
	color: #888;
	font-size: 14px;
}

#contactform .textField, #contactform .passField {
	width: 200px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font: 14px/18px "Lucida sans", Tahoma, sans-serif;
	color: #777;
	padding: 8px 5px;
	margin: 0 0 15px 0;
}

* html input {
	z-index: expression( /* an optimized expression which will assign classes to the fields at the page loading */
	runtimeStyle.zIndex = 1,
	type == "text" ? (className += " formText") : 0, /*assinging a class for type="text" */
	type == "password" ? (className += " formPassword") : 0, /* assinging a class for type="password" */
	type == "submit" ? (className += " formSubmit") : 0, /* assinging a class for type="submit" */
	type == "text" ? (className += " searchText") : 0, /* assinging a class for type="text" for the search field */
	type == "submit" ? (className += " searchSubmit") : 0, /* assinging a class for type="submit" for the search field */
	type == "text" ? (className += " commentForm") : 0, /* assinging a class for type="text" for the commenting field */
	type == "textarea" ? (className += " textArea") : 0, /* assinging a class for type="textarea" for the commenting field */
	type == "submit" ? (className += " commentSubmit") : 0, /* assinging a class for type="submit" for the commenting field */
	type == "text" ? (className += " textField") : 0, /*assinging a class for type="text" for the contact form */
	type == "password" ? (className += " passField") : 0 /*assinging a class for type="password" for the contact form */
	)
}

.post a.title {
	margin-top: 10px;
}

.post a.category {
	margin-top: 10px;
}

.post p.arrow {
	margin-top: 10px;
}

#replytopost p.title {
	margin: 0px;
}

#aboutauthor .authorlogocont {
	margin-left: 10px;
	margin-top: 20px;
}

#aboutauthor {
	padding-bottom: 20px;
}

.sharebuttons {
	margin: 0 0 20px 70px;
}

.social li a span {
	margin-left: 0px;
}

#contactform {
	margin-right: 30px;
}

#contactform textarea {
	width: 586px;
}

