<ul class="mega-container mega-grey">
    <li class="mega">
        <a href="painel.html" class="mega-link">Dashboard</a>
    </li>
    <li class="mega">
        <a href="painel.html?content=usuarios" class="mega-link">Usuários</a>
    </li>
    <li class="mega">
        <a href="painel.html?content=fontes" class="mega-link">Fontes</a>
    </li>
    <li class="mega">
        <a href="painel.html?content=tags" class="mega-link">Tags</a>
    </li>
    <li class="mega">
        <a href="painel.html?content=postagens" class="mega-link">Postagens</a>
    </li>
    <!--
    <li class="mega">
        <a href="javascript:;" class="mega-tab">Sample Pages</a>
        <div class="mega-content mega-menu ">
            <ul>
                <li><a href="?content=gallery.xhtml">Image Gallery</a></li>
                <li><a href="sample_reports.html">Reports</a></li>
                <li><a href="sample_faq.html">FAQ</a></li>
                <li><a href="sample_invoice.html">Invoice</a></li>
                <li><a href="sample_calendar.html">Calendar</a></li>
                <li><a href="sample_people.html">People Listing</a></li>
                <li><a href="sample_details.html">Support Request</a></li>
            </ul>
        </div>
    </li>
    <li class="mega">
        <a href="javascript:;" class="mega-tab hasSub">Page Elements</a>
        <div class="mega-content mega-menu ">
            <ul>
                <li><a href="text.html">Buttons &amp; Text</a></li>
                <li><a href="grid.html">Grid Layout</a></li>
                <li><a href="tables.html">Tables</a></li>
                <li><a href="forms.html">Forms</a></li>
                <li><a href="charts.html">Charts</a></li>
            </ul>
        </div>
    </li>
    <li class="mega">
        <a href="widgets.html" class="mega-link">Widgets</a>
    </li>
    <li class="mega">
        <a href="javascript:;" class="mega-tab hasSub">Multi-level menu</a>
        <div class="mega-content mega-menu ">
            <ul>
                <li><a href="javascript:;">Demonstration</a></li>
                <li><a href="javascript:;">Purposes</a></li>
                <li>
                    <a href="javascript:;" class="hasSub">Only</a>
                    <ul>
                        <li><a href="javascript:;">Fake Item #1</a></li>
                        <li><a href="javascript:;">Fake Item #2</a></li>
                        <li><a href="javascript:;">Fake Item #3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    -->
</ul>