/*
Theme Name: Calibra - By Phi // Wordpress 3++
Theme URI: http://themeforest.net
Description:  Wordpress CMS theme with great gallery and portfolio features
Version: 1.0 - Last updated September 30 - 2010
Author: Phi - Andreas Wilthil
Author URI: http://themeforest.net/user/Phi - http://phiworx.com - http://itworx.no

1: RESET
2: TYPOGRAPHY
3: STRUCTURE 
4: MENUS AND LISTS
5: SLIDESHOW / ACCORDION / PORTFOLIO-SLIDER
6: FOOTER
7: PAGE ELEMENTS
9: BLOG STYLES
10:WIDGETS
11: SHORTCODE BOXES
12: MISC CLASSES

*/


	

.contentwidth{width:740px; float:left;}
.sidebarwidth{width:210px; float:left; position:relative;}

/* -----------------------------------------------------------

   1: RESET 

   ----------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/* -----------------------------------------------------------

   2: TYPHOGRAPHY

   ----------------------------------------------------------- */


/* Font family definition*/

body, input, textarea {font-family:Tahoma, Geneva, sans-serif; }
input, textarea{font-size:11px;}
#testimonial-wrap p a, #testimonial-wrap p {font-family:Georgia, "Times New Roman", Times, serif;}


a {text-decoration:none; cursor:pointer; }
a:hover {text-decoration:none;}
h2 a { color:#555; }
h1, h1 a {color:#555;font-size:32px; font-weight:normal; margin:8px 0px 10px; letter-spacing:0px; line-height:1.2em; clear:both;}
h2, h2 a {color:#555; font-size:24px; margin:16px 0px 8px; font-weight:normal; clear:both; line-height:1.3em;  clear:both;}
h3, h3 a {color:#555;font-size:21px; margin:16px 0px 10px; font-weight:normal; line-height:1.2em;  clear:both; }
h4, h4 a {color:#777; font-size:14px; margin:16px 0px 10px; font-weight:normal; letter-spacing:1px; text-transform:uppercase; }
h5, h5 a {color:#777; font-size:11px; margin:16px 0px 10px; font-weight:normal; letter-spacing:1px; text-transform:uppercase; }
h6, h6 a {color:#777; font-size:11px; margin:0px 0px 10px; font-weight:normal; letter-spacing:0px; }
p { line-height:1.6em; margin:0px 0px 16px 0px; }

blockquote.pullquote p { width: 220px; padding: 0px 20px 0px 0px; margin:0px 20px 20px; font-size: 15px; line-height: 20px; float:left; border-right:1px solid #dbdbdb; text-align:right; font-style:italic; }
blockquote.pushquote p { width: 220px; padding: 0px 0px 0px 20px; margin:0px 0px 20px 20px; font-size: 15px; line-height: 20px; float:right; border-left:1px solid #dbdbdb; text-align:left; font-style:italic; }

/* Default list */
ul { margin:2px 20px 20px; padding:0; list-style-type:square; width:auto; display:block; }
ol { margin:2px 20px 20px; padding:0; list-style-type:decimal; width:auto; display:block; }
ul li, ol li { clear:both; padding:0px 0px; margin:0px; width:auto; text-align:left; }
ul li a { }
ul li a:hover, ol li a.hover { }

pre { padding:16px 16px; border:1px solid #ececec; background:#fafafa; margin:0 0 20px 0;}
textarea, input { border:1px solid #eee; background:#fafafa; padding:10px; color:#777; font-size:12px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
input:focus, textarea:focus { background:#fefefe; }

/* -----------------------------------------------------------

   3: PAGE STRUCTURE 

   ----------------------------------------------------------- */

body { width:100%; margin:0px; color:#777; font-size:12px; line-height:1.4em;}	
/* Wrappers */
#wrapper {background:url(img/shared/page-bg.png) repeat-y center top; width:100%; float:left}
#content-wrapper {margin:0 auto; padding:0;  width:980px; margin:0 auto; }
/* Page header */
#header {float:left; width:980px; background:#000 url(img/shared/header-bg.png) repeat-x top; position:relative; padding:20px 0; display:block; min-height:120px; }
#header-widget{padding:0px 40px 0;  width:660px;float:left; border-right:1px solid #444;}
#logo {width:229px;  position:absolute; right:10px; top:50%; margin-top:-15px;  text-align:center; }
/* Page title */
#pagetitle{background:url(img/shared/featured-bg.png) repeat-x; float:left; display:block; padding-bottom:10px; width:980px;}
#pagetitle h1{margin-bottom:12px; width:670px;}
#pagetitle h3{margin:0 0 10px 0; font-size:16px; width:670px; }

/* Page content */

.marginbottom-16{margin:0 0 16px 0;}
.largemedia{background-color: #fff; background-image:url(img/shared/topshadow.png); background-repeat:repeat-x; padding:30px 40px; float:left; margin:0; width:900px;}

#content { width:980px; float:left; position:relative; background-color:#fff;}

.content-narrow .video{margin:0px 0px 16px 0px;}
.content-left .video, .content-right .video{margin:30px 40px 30px 40px; padding:0; background:none;}
.content-right{background:#fff url(img/shared/content-bg-left.png) repeat-y 0px top;}
.content-left{background:#fff url(img/shared/content-bg-right.png) repeat-y 240px top;}
.content-narrow{float:left; padding:20px 30px 30px 40px; width:670px; background:url(img/shared/topshadow.png) repeat-x; margin:0px;}

.content-full{background:#fff url(img/shared/topshadow.png)repeat-x; padding:30px 40px; float:left; margin:0; width:900px;}

.fullvideo{padding:30px 40px; background:#fff; float:left;}
/* Sidebar */
.sidebar {float:right;margin:0; width:180px; padding:30px 30px 20px 30px ;  height:100%; background:#fff url(img/shared/topshadow.png) repeat-x; }
.sidebar h2, .sidebar h3 { margin:0 0 16px 0; }
.sidebar-right {float:right;}
.sidebar-left {float:left;}

/* FOOTER */
#footer {width:940px; float:left; border-top:4px solid #555; padding:20px 0 20px 40px;}
#footermenu-wrap{float:left; border-top:1px dotted #555; clear:both; width: 900px;}
/* FOOTER MENU */
#footermenu { float:left; clear:left; padding:20px 0px; margin:0;  }
#footermenu ul { list-style:none; margin:0; padding:0; float:left; }
#footermenu li { color:#555; float:left; width:auto; clear:none; display:inline; margin-right:20px; padding:0px; font-size:11px; text-transform:uppercase; }
#footermenu li ul { display:none; }
#footermenu li a { color:#777; }
#footermenu li a:hover { text-decoration:underline; }
/* FOOTER CREDITS */
#footercredits { float:right; padding:20px 0px; font-size:11px; }





/* -----------------------------------------------------------

   3: HOME PAGE ELEMENTS 

   ----------------------------------------------------------- */
#featured{float:left; width:701px; padding:16px 0 	4px 40px;  }	
#featured-posts-wrapper{width:740px; float:left;}
.featured-post{float:left; width:200px; margin-right:20px; min-height:110px; padding:15px 20px 0px 0; background:url(img/shared/corner.png) no-repeat right bottom;}
.featured-post:hover{background:url(img/shared/corner_hover.png) no-repeat right bottom}
.featured-post h3, .featured-post h3 a{margin:0px 0 6px 0; color:#efefef;}
.featured-post p a{font-size:12px; line-height:1.2em; color:#777;}
.last-featured{margin-right:0; border:none; padding-right:21px;}

#featured-menu{ float:left; width:209px; padding:30px 0 20px 30px; }	
#featured-menu ul{margin:0; padding:0; list-style:none; margin-left:-10px;}	
#featured-menu ul li{ }
#featured-menu ul li a{width:178px; padding:6px 10px 6px 30px;line-height:20px; display:inline; clear:both; float:left; background:url(img/shared/arrow.png) no-repeat 12px 8px; text-transform:uppercase; font-size:11px; letter-spacing:1px; color:#efefef;
 -moz-border-radius-topleft: 2px; 
 -moz-border-radius-bottomleft: 2px; 
 -webkit-border-top-left-radius: 2px; 
 -webkit-border-bottom-left-radius: 2px;

}
#featured-menu ul li a:hover{width:174px; background:#000 url(img/shared/arrow.png) no-repeat 12px 6px; border-right:4px solid #c20046;}


/* -----------------------------------------------------------

   4: MENUS AND LISTS 

   ----------------------------------------------------------- */
/* PRIMARY MENU */

/* Primary menu Level 1 */
#primary-menu {height:56px; width:680px; float:left; padding:0 0 0 20px; float:left; background:#000 url(img/shared/menu-bg-light.png) repeat-x;  position:relative; z-index:5000;}
#primary-menu ul {list-style:none; margin:0px 0 0 0;  padding-top:20px; overflow:visible;}
#primary-menu ul li{display:inline;  margin:0;  position:relative;float:left; clear:none; }
#primary-menu ul li a{display:inline;float:left; clear:none; padding:3px 20px 21px 20px;line-height:1em; margin:0px; color:#777; text-transform:uppercase;color:#efefef;letter-spacing:1px;position:relative; font-size:12px}

#homebutton{float:left; background:#000; height:56px; width:40px; display:block;}
#homebutton a{height:56px; width:40px; display:block; float:left; background:#c20046 url(img/shared/homeBtn.png) no-repeat center center;}
#homebutton a:hover{background:#c20046  url(img/shared/homeBtn.png) no-repeat center center; }
#homebutton a span{display:none;}

#primary-menu ul li a:hover, #primary-menu ul li.current_page_ancestor a, #primary-menu ul li.current_page_item a { color:#c20046; background:url(img/shared/menu-arrow.png) no-repeat center bottom;}
#primary-menu ul li.current_page_item ul li a { color:#777; font-size:11px; }
#primary-menu ul li.current_page_ancestor ul li a { color:#777; font-weight:normal; }
#primary-menu ul li.current_page_ancestor ul li a, #primary-menu ul li.current_page_item ul li a { color:#777; background-image:none;}
#primary-menu ul li.current_page_ancestor ul li a, #primary-menu ul li.current_page_parent ul li a{background-image:none;}
/* Primary menu Level 2 */
#primary-menu ul ul { margin:0px 0 0 0px; position:absolute; z-index:9999; visibility: hidden;  padding:10px;
-moz-border-bottom-left-radius: 4px; -moz-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; 
box-shadow:0px 1px 6px rgba(0, 0, 0, .15); -webkit-box-shadow:0px 1px 6px rgba(0, 0, 0, .15); -moz-box-shadow:0px 1px 6px rgba(0, 0, 0, .15);
background:#393939 url(img/shared/menu-arrow.png) no-repeat 40px -5px; background: -moz-linear-gradient(top, #393939, #151515); background: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#151515));width:210px;}
#primary-menu ul ul li { display: inline; margin:1px 0 0 0; padding:0; width:210px; font-size:11px; }
#primary-menu ul ul li a { border-bottom:1px solid #333; width:210px; height:auto;  color:#777; margin:0; background-image:none; padding:10px; font-weight:normal; display:inline;}

#primary-menu ul ul li.current_menu_parent ul li a:hover, #primary-menu ul ul li.current-menu-ancestor ul li a:hover, #primary-menu ul ul li.current-menu-item ul li a:hover, #primary-menu ul ul li a:hover { background:#333; color:#777; margin:0;}
/* Primary menu Level 3 ++ */
#primary-menu ul ul ul { visibility:hidden; margin:0; margin-top:-12px; margin-left:-10px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }
#primary-menu ul ul li:last-child a { border:none; }

/* -----------------------------------------------------------

   5: SLIDESHOW / ACCORDION / PORTFOLIO-SLIDER

   ----------------------------------------------------------- */
	
/* ACCORDION SLIDER */
#kwicks{background:#fff url(img/shared/loading.gif) no-repeat center center; overflow:hidden; width:980px; z-index:1000; float:left;  }
.kwicks { /* recommended styles for kwicks ul container */
	list-style: none; position: relative; margin: 0; padding: 0; float:left; background:#101010;}
.kwicks ul{margin:0;}
.kwicks li { /*do not change these */
	display: block; overflow: hidden; padding: 0;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */ }
.kwicks.horizontal li { /* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
	margin-right: 0px; /*Set to same as spacing option. */ float: left; }
.kwicks.vertical li { /* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
	margin:0px; /*Set to same as spacing option. */ }
.kwickshadow { z-index: 1; background:url(img/shared/accordion-shadow.png) repeat-y; position: absolute; right: 0px; width: 30px; }
.kwicktopshadow{ z-index: 2; background:url(img/shared/kwicktopshadow.png) repeat-x; position: absolute; top:0px;  width: 980px; height:20px;  }

.slide-minicaption {bottom:0px; left:20px; position:absolute; color:#111; padding:10px 10px 10px 10px; font-size:12px; line-height:1.3em; background:#fff; width: 120px; }
.slide-minicaptiontitle {letter-spacing:0; color:#111; display:block; line-height:18px; }
.slidecaption {bottom:20px; left:20px; position:absolute;  color:#222; padding:20px; font-size:12px; line-height:1.5em; background:#fff; width:300px; }
.slidecaption h3{margin:0 0 10px 0; line-height:1.2em; padding:0;}
.slidecaption a {color:#222; }
.slidecaption a:hover {text-decoration:none; }
p.captiontitle { letter-spacing:0px; display:block; color:#222; margin-bottom:4px; font-size:26px; }
.slidecaptiontitle h2 a {color:#222; margin-top:0;}
.slidecaptiontitle h2 a:hover {color:#555; text-decoration:none; }

/* CYCLE SLIDER */
#slideshow-wrapper{width:980px;  float:left; background:#fff url(img/shared/topshadow.png) repeat-x; overflow:hidden; }
#slideshow{position:relative; float:left; }
.slideshow-slide {width:900px; float:left; position:relative; padding:30px 40px; }
.slideshow-slide img{float:left;}
.slideshow-slideinfo {width:300px; position:absolute; bottom:40px; left:50px; background:url(img/shared/transp_90.png); padding:20px;}
.slideshow-slideinfo h2{margin:0 0 10px 0; line-height:1em; border:none;}
.slideshow-slideinfo p{margin:0;}
.slideshow-slideinfo p a, .slideshow-slideinfo h2 a{color:#555; margin:0; text-align:left;}

.slideshow-next{width:40px; height:40px; background:url(img/shared/next.png) no-repeat; position:absolute; right:0px; top:50%; margin-top:-20px; cursor:pointer;}
.slideshow-prev{width:40px; height:40px; background:url(img/shared/prev.png) no-repeat; position:absolute; left:0px; top:50%; margin-top:-20px; cursor:pointer;}	
	
	

/*PORTFOLIO SLIDER*/	
#portfolio-slider{position:relative; float:left; background:url(img/shared/loading.gif) no-repeat center 165px; min-height:500px;}
#ajaxloader, #ajaxcontent{float:left; width:670px; margin-bottom:10px; }
#ajaxloader{}
#cyclewrap{float:left; width:660px; height:336px; overflow:hidden; margin:10px 0 16px 0; position:relative; padding:0; background:#fff;}
#cycle{float:left;}

.slideinfo {float:left; display:block; clear:none; width:auto;}
.slideinfo h1, .slideinfo h2 { margin:10px 0 10px 0; line-height:1em; border-bottom:1px solid #eee; padding-bottom:8px; }
.slideinfo h3 { margin:10px 0 10px 0; line-height:1em;}
.slideinfo p { margin:10px 0 10px 0; width:auto; }
.slideinfo ul { list-style-type:square; margin:0 0 10px 20px;}

.sliderpager {position:absolute; top:10px; right:10px; width:auto; margin:0;}
.sliderpager #pager ul { margin:0; padding:0; list-style:none; min-width:0; }
.slidertitle{float:left; width:660px; clear:both; margin:0;   }
.slidertitle h2{margin:0; font-size:18px;text-transform:uppercase;}
.slidertitle p{margin:0; text-transform:uppercase; color:#999; font-size:10px;}

.slided{float:left; width:660px; height:336px; display:block; position:relative;  }
.slided span{position:absolute; top:50%; left:50%; width:100px; height:60px; background:#url(img/shared/default-sprite.png) no-repeat -107px -366px; margin-top:-30px; margin-left:-50px; display:none;}
.thumbnails{ width:672px; float:left; margin:-8px 0 0 0;}
.thumbspan{width:48px; height:96px; position:absolute; top:0; left:0; background:#fff;}

#player{position:absolute; z-index:3000; bottom:0px; right:0px; width:32px; height:16px; padding:4px; background:#fff; margin:8px; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
#player li{float:left; clear:none; display:inline;}
#resumeButton{float:left; width:16px; height:16px; display:block; background:url(img/shared/default-sprite.png) no-repeat -160px -370px; cursor:pointer;}
#pauseButton{float:left; width:16px; height:16px; display:block; background:url(img/shared/default-sprite.png) no-repeat -144px -370px; cursor:pointer;}
.zoomframe{position:absolute; z-index:3000; bottom:0px; left:0px; width:24px; height:24px; background:#fff; margin:8px; -moz-border-radius: 2px; -webkit-border-radius: 2px;	
	}
.zoomButton{float:left; width:24px; height:24px; display:block; background:url(img/shared/default-sprite.png) no-repeat -107px -366px; cursor:pointer;}
	
#nav { margin:0; float:left; display:inline;  height:auto; overflow:hidden; display:block; background:url(img/shared/thumbback.png);}
#nav li { float:left; list-style:none; clear:none; display:inline; }
#nav li a {width:46px; display: inline; float:left;border:none; margin:0 10px 10px 0; position:relative; overflow:hidden; }
#nav li a.activeSlide, #nav li a:hover{ }
#nav li a:focus { outline: none; }
#nav img {width:46px; height:46px; border: none; display: block;}
#nav li a.activeSlide span{top:46px; display:none;}

#gallerynav { margin:0 0 16px 0;  float:none;  height:auto; overflow:hidden; display:block; clear:both; }
#gallerynav a {width:10px; height:10px; padding:0px 5px 10px 5px; line-height:18px; margin:1px; float:left; display:inline; text-decoration:none; color:#777;}
#gallerynav a.activeSlide, #gallerynav li a:hover{color:#777;  background-color:#c9d0d2; color:#fff; -moz-border-radius: 1px; -webkit-border-radius: 1px; }
#gallerynav a:focus { outline: none; }
#gallerynav a.activeSlide span{top:46px; display:none;}
#gallerycycle{margin-bottom:10px;}


/* Remove from singel portfolio slider */
.single-portfolio-wrap .slidertitle{display:none;}
.single-portfolio-wrap #pager{display:none;}
.single-portfolio-wrap .slideinfo{display:none;}
/*.single-portfolio-wrap .thumbnails {width:672px; float:left; margin:0;}*/
.single-portfolio-wrap #nav li a {margin:0 10px 10px 0;}

/* -----------------------------------------------------------

   9: BLOG PAGES (Blog, archive, tags and categories)

   ----------------------------------------------------------- */
.blogpost { width:660px; float:left; margin:0px 0px 30px; position:relative;}
.blogpost img, .blogpost .video{margin:0 0 16px 0; float:left;}
.blogpost h2 { margin-top:0px; max-width:500px; }
.post-meta { width:660px; float:left; padding:0px 0px 12px; margin:0px 0px 0px 0px; font-size:11px; color:#999; text-transform:uppercase; font-size:10px;}
.post-meta a{color:#777;}
.post-meta a:hover{text-decoration:underline;}
.post-comments { width:36px; height:27px; background:url(img/shared/blob.png) no-repeat 0px 0px; text-align:center; float:right; color:#555; position:absolute; top:8px; right:0px; padding-top:4px; }
#respond { margin:0px; float:left; }
#respond input { width:300px; margin-right:20px; }
#respond textarea { width:630px; height:160px; padding:10px; }
#comments { float:left; margin:40px 0 30px 0; }
.commentlist { margin:0px 0px 0px; float:left; list-style:none; padding:0; width:600px; }
.commentlist ul { list-style:none; margin:20px 0 0; float:left; clear:both; }
.commentlist li { float:left; margin-bottom:20px; padding-bottom:20px; width:630px; display:block; }
.commentlist li li {  padding:20px; width:580px; display:block; border:1px solid #bbb;}
.commentlist li li li {   padding:20px; width:540px; display:block; }
.commentlist li li li li {  padding:20px; width:500px; }
.commentlist li li li li li { padding:20px; width:460px; }
.commentlist p { margin-top:8px; }
.comment-body { }
.comment-author { float:left; margin: 0px 10px 6px 0px; display:inline; width:50px; }
.comment-author cite { clear:both; font-weight:bold; }
.vcard { float:left; clear:both; display:block; width:100px; text-align:center; padding:18px 4px; background:#fff; border:1px solid #ccc; margin-bottom:10px; }
.comment-meta { margin-top:20px; margin-bottom:8px; width:450px; display:inline; clear:right; }
.fn { float:left; width:100px; background:#fff; clear:both; margin:0px; text-align:center; }
.says { display:none; }

/* -----------------------------------------------------------

   10: WIDGETS

   ----------------------------------------------------------- */
/* WIDGET WRAPPERS */

/* Sidebar */
.widgetwrap { float:left; width:180px; margin:0 30px 20px 0; }

/* Footer*/
.widgetwrap-footer { float:left; width:163px; margin:0 20px 26px 0px; }
.widgetwrap-footer ul { margin:0px 0px 0px; padding:0; list-style:none; float:left; clear:both; width:163px; }
.widgetwrap-footer ol { margin:0px 0px 0px 0px; padding:0; list-style:decimal; float:left; clear:both; width:163px; }
.widgetwrap-footer ul li { width:163px; float:left; clear:both; padding:6px 0px 6px 0px; margin:0px; line-height:16px; border-bottom:1px dotted #333; }
.widgetwrap-footer ul li a { width:163px; clear:both; padding:0px; margin:0px; background:none; color:#555; }
.widgetwrap-footer ul li a:hover { width:163px; clear:both; padding:0px; margin:0px; color:#777; }
.widgetwrap-footer ul ul { margin:10px 0px 10px; padding:0; list-style:none; float:left; clear:both; width:153px; border:none; }
.widgetwrap-footer ul ul li { width:153px; border:none; }
.widgetwrap-footer ul ul li a { width:153px; clear:both; padding:0px; margin:0px; background:none; }
.widgetwrap-footer ul ul li a:hover { text-decoration:none; }
.widgetwrap-footer ul li:last-child { border:none; }


/* Sidebar and widgetwrap menus */

.widgetwrap ul { margin:0 0 10px 0; padding:2px; list-style:none; float:left; width:176px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border:1px solid; border-top-color:#ddd; border-left-color:#ddd; border-right-color:#fff; border-bottom-color:#fff; background-color:#f2f2f2; }
.widgetwrap ul li a, 
.sidebar ul#recentcomments li { padding:6px; float:left; clear:both; width:162px; border:1px solid; border-top-color:#fff; border-left-color:#fff; border-right-color:#ddd; border-bottom-color:#ddd; background-color:#fafafa; }
.widgetwrap li:first-child a, 
.sidebar ul#recentcomments li:first-child { -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; }
.widgetwrap li:last-child a, 
.sidebar ul#recentcomments li:last-child { -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px; }
.widgetwrap ul li a:hover { background:#f2f2f2; border:none; padding:7px; }
.widgetwrap ul ul { padding:0; margin:-1px 0 4px 0; border:none;  border-left:1px solid #fff; border-right:1px solid #ddd; border-bottom:1px solid #ddd; background-color:#fafafa; -moz-border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -webkit-border-radius: 0px; width:174px;}
.widgetwrap ul ul li { display:inline; margin:0; padding:0; line-height:1.3em; }
.widgetwrap ul ul li a { padding:7px; display:inline; float:left; clear:both; width:160px; font-size:11px; background-color:#fafafa; margin:0; color:#777; border:none; }
.widgetwrap ul ul li a:hover { -moz-border-radius: 0px; -webkit-border-radius: 0px; background:#f2f2f2; }
/* Level 3 */
.widgetwrap ul ul ul {width:174px; border:none;}
.widgetwrap ul ul ul li a { padding:7px 7px 7px 20px; display:inline; float:left; clear:both; width:146px; font-size:11px; background:#fafafa url(img/common/arrow_01.png) no-repeat 8px center; margin:0; color:#777; border:none; }
.widgetwrap ul ul ul li a:hover { padding:7px 7px 7px 20px; background:#f2f2f2 url(img/common/arrow_01.png) no-repeat 8px center; }

ul#recentcomments li a { border:none; background:none; float:none; }

/* Latest posts widget */
.latestposts { float:left; margin-bottom:10px; clear:both; width:180px;}
.latestposts img{float:left; margin:0 10px 0 0;}
.latestposts p a { color:#777;}	


	
	
/* Testimonial widget */
#testimonial-wrap{background:url(img/shared/quote.png) no-repeat 10px 20px; padding:30px 10px 10px 60px; float:left;}
#testimonial-wrap p a, #testimonial-wrap p {font-family:Georgia, "Times New Roman", Times, serif; font-size:36px; font-style:italic; line-height:1.2em; color:#777;}
#testimonial-wrap p.signature{font-size:12px; color:#777;}

/* Social media widget */
#sociables {float:left; width:180px; height:20px; padding:18px 30px; background:#000 url(img/shared/menu-bg-light.png) repeat-x;} 
.socialmedia {float:left;position:relative;z-index:3000; } 
.socialmedia ul.social { margin:0; list-style: none; padding-left:4px; }
.socialmedia ul.social li { padding:0; margin:0; float:left; clear:none; }
.socialmedia ul.social li a { padding:0px; float:left; margin:2px 4px 3px 0px; width:16px; height:16px; display:block; }
.socialmedia ul.social li img { width:16px; height:16px; }
.socialmedia ul.social li.last { padding:0; margin:0; float:left; clear:none; }

/* Calendar widget */
#calendar_wrap table { border-collapse:collapse; border-spacing:0; width:180px; padding:2px 0; }
#calendar_wrap table, td, th { vertical-align:middle; text-align:center; }
#calendar_wrap th { padding:4px; font-size:11px; text-transform:uppercase; }
#calendar_wrap td { font-size:11px; padding:4px; }
#calendar_wrap table { margin:20px 2px; }
#calendar_wrap table th {  }
#calendar_wrap table td { color:#777; }

/* -----------------------------------------------------------------

	GENERIC PAGE ELEMENTS 
	
------------------------------------------------------------------- */
/* BUTTONS */
.btn { display:inline-block; width:auto; float:left; margin:0; background-image:url(img/shared/default-sprite.png); text-decoration:none; margin:4px 10px 0 0}
.btn span {padding:0px 22px 0px 0px; display:inline-block; line-height:32px; cursor:pointer; margin-left:29px; background-image:url(img/shared/default-sprite.png); font-size:11px; text-transform:uppercase; white-space:nowrap; border:none; color:#efefef; }
.btn { background-position: 0 top; }
.btn span { background-position: right -36px; }

/* BREADCRUMB */
#breadcrumb { margin:10px 20px 0px 0px; padding:0; }
#breadcrumb a, #breadcrumb { font-size:10px; color:#999; text-transform:uppercase; word-spacing:4px; }
#breadcrumb a:hover { text-decoration:underline; }

/* SEARCHBOX */
#searchwrapper{position:absolute; top:0; left:0;}
#searchform {position:absolute; left:0; top:0; width:240px; height:70px; padding-top:14px; display:block;  z-index:2000;}
#searchform .screen-reader-text { display:none; }
#searchform #s { padding:2px 6px 2px 6px; float:left; background:#eee; color:#777; line-height:20px; height:22px;   margin:0px; width:170px;   border-top:1px solid #ccc; border-right:1px solid #fff; border-bottom:1px solid #fff; border-left:1px solid #ccc; -moz-border-radius: 2px; -webkit-border-radius: 2px;	text-transform:uppercase; font-size:12px;}
#searchform #searchsubmit {padding:10px; position:absolute; right:30px; top:22px; margin:0px 0px 0px -20px; padding:0; border:none; cursor:pointer; height:12px; width:12px; float:left; background:url(img/shared/default-sprite.png) no-repeat -113px -372px; text-indent:-5000px; line-height:30px; font-size:0em; color:#000;  }
#searchbutton{background:url(img/shared/default-sprite.png) no-repeat -107px -366px; display:block;  }

/* CONTACTFORM */
#contact-form { margin:10px 0px; float:left; }
#contact-form ul { list-style:none; margin:0; padding:0; }
#contact-form li { margin:0 0 12px 0; }
#contact-form input { width:300px; margin-right:20px; }
#contact-form textarea { width:550px; height:160px; padding:10px; color:#999; font-size:100% }
#contact-form #submitbutton, #respond input#submit { padding:0px 10px 0px 10px; color:#ccc; border:none; background:url(img/shared/default-sprite.png) no-repeat 0px -72px; margin:0px 0 16px 0; text-align:center; line-height:32px; color:#fff; width:112px;}
.mailreceipt { float:left; margin:0px 0 40px; padding:30px; width:550px; text-align:center; font-size:15px; }

/* PAGER */
#pager { float:left; clear:both; display:inline; }
#pager ul { margin:0; padding:0; list-style:none; min-width:660px; }
#pager ul li { clear:none; float:left; display:inline; padding:0px; margin-right:0px; text-align:center; font-size:10px; }
#pager ul li a {height:10px; padding:0px 5px 10px 5px; line-height:18px; margin:1px; float:left; clear:none; display:block; text-decoration:none; color:#777; }
#pager ul li a:hover { color:#777; }
#pager ul li.current a { background-color:#c9d0d2; color:#fff; -moz-border-radius: 1px; -webkit-border-radius: 1px;}
#pager ul li a span { padding-top:0px; text-align:center; display:block; }
#pager .pages { display:none; }






/* -----------------------------------------------------------

   11: SHORTCODE BOXES

   ----------------------------------------------------------- */

.single_light, .single_dark { width:240px; float:left; margin:0px 30px 30px 0px; padding:10px 20px 20px 20px; position:relative;  -moz-border-radius: 2px; -webkit-border-radius: 2px; }
.single_light { background:#e7e7e7 url(img/common/box-bottom-light.gif) no-repeat bottom; }
.single_dark { background:#333 url(img/common/box-bottom-dark.gif) no-repeat bottom; }
.single_transparent { width:280px; float:left; margin:0px 30px 30px 0px; padding:0px; position:relative; }
.single_transparent h4, .double_transparent h4{ margin:0; }
.single_dark h4{ border-bottom:1px solid #444; color:#ccc; padding-bottom:8px; margin:6px 0 0 0; }
.single_dark p { color:#999; }
.single_light h4 { border-bottom:1px solid #ccc; padding-bottom:8px; margin:6px 0 0 0; }
.double_light, .double_dark { width:550px; float:left; margin:0px 30px 30px 0px; padding:10px 20px 20px 20px; position:relative; }
.double_light { background:#e7e7e7 url(img/common/box-bottom-light-double.gif) no-repeat bottom; }
.double_dark { background:#333 url(img/common/box-bottom-dark-double.gif) no-repeat bottom; }
.double_transparent { width:590px; float:left; margin:0px 30px 30px 0px; padding:0px; position:relative; }
.double_dark h4 { border-bottom:1px solid #444; color:#ccc; padding-bottom:8px; margin:6px 0 0 0; }
.double_dark p { color:#888; }
.double_light h4 { border-bottom:1px solid #ccc; padding-bottom:8px; margin:6px 0 0 0; }
.triple_light, .triple_dark { width:860px; float:left; margin:0px 0px 30px 0px; padding:10px 20px 20px 20px; position:relative; }
.triple_light { background:#e7e7e7 url(img/common/box-bottom-light-triple.gif) no-repeat bottom; }
.triple_dark { background:#333 url(img/common/box-bottom-dark-triple.gif) no-repeat bottom; }
.triple_dark h4 { border-bottom:1px solid #444; color:#ccc; padding-bottom:8px; margin:6px 0 0 0; }
.triple_dark p { color:#888; }
.triple_light h4 { border-bottom:1px solid #ccc; padding-bottom:8px; margin:6px 0 0 0; }

.content-narrow .single_transparent{width:320px;  margin:0px 15px 30px 0px; }
.content-narrow .single_light, .content-narrow .single_dark { width:280px; float:left; margin:0px 15px 30px 0px; padding:10px 20px 20px 20px; position:relative;  -moz-border-radius: 2px; -webkit-border-radius: 2px; }

.content-narrow .double_transparent { width:660px; float:left; margin:0px 0px 30px 0px; padding:0px; position:relative; }
.content-narrow .double_light, .content-narrow .double_dark { width:620px; float:left; margin:0px 0px 30px 0px; padding:10px 20px 20px 20px; position:relative; }



/* ----------------------------------------------------------------

	PORTFOLIO AND GALLERY
	
	----------------------------------------------------------------*/
	
.content-full .th {float:left; width:210px; margin:0 20px 26px 0; position:relative;}
.content-narrow .th {float:left; width:210px; margin:0 13px 26px 0; }
.th p {margin:0 0 16px 0;}
.th img {margin:0;}
.portfolio-wrap{float:left; clear:both;}
.one-fourth{position:relative; width:210px; float:left; clear:none; display:inline; margin:0 20px 20px 0;}


/* ----------------------------------------------------------------

	11: MISC CLASSES
	
	----------------------------------------------------------------*/
.dropcap{float:left; margin:0px 8px 0 0;  padding:0 0 0 2px; height:29px; width:27px; background:url(img/shared/default-sprite.png) no-repeat -10px -359px; display:block; font-size:16px; text-align:center; color:#362f2d;}
.preloader, .preloader_visible{position:relative; background:url(img/shared/loading.gif) no-repeat center center; display:block;}
.preloader a img{display:none;}
.zoom{position:absolute; top:50%; left:50%; margin-left:-12px; margin-top:-12px;  width:24px; height:24px; display:block; background:#fff url(img/shared/default-sprite.png) no-repeat -107px -366px; cursor:pointer; -moz-border-radius: 2px; -webkit-border-radius: 2px;}
.last{margin:0 0 26px 0; padding:0; background:none; }
.box-last{margin:0;}
.alignleft { float:left; margin:0 15px 15px 0 !important}
.alignright { float:right; margin:0 0 15px 15px !important}
.break { width:100%; float:left; clear:both; }
.image-wrap{position:relative; float:left; clear:both; margin:0 0 16px 0;}
.tiny {color:#999; text-transform:uppercase; font-size:10px;}
span.tinytext { font-size:10px; text-transform:uppercase; letter-spacing:1px; margin:0 0 5px 0; line-height:1em; color:#999; min-width: 100px; clear:right; display:block; }
span.red { color:#900; padding:10px; }

.newspost{float:left; clear:both; margin:10px 0 0px 0; padding-bottom:20px; border-bottom:1px solid #ddd;}
.newspost .newsimage{float:left; clear:none; width:200px; margin-top:10px;}
.newspost .newsinfo{float:left; clear:none; width:440px; margin-right:20px;}
/* ---------------------------------------------------------------

	12: MISC ELEMENTS
	
	---------------------------------------------------------------*/

#simpleTooltip {font-size:10px; text-transform:uppercase; border:1px solid #fff; background:#efefef; padding:3px 5px;  display:block; -moz-border-radius: 2px; -webkit-border-radius: 2px; box-shadow:0px 1px 3px rgba(0, 0, 0, .3); -webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, .3); -moz-box-shadow:0px 1px 3px rgba(0, 0, 0, .3); background: -moz-linear-gradient(top, #fff, #f9f9f9); background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9)); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f9f9f9)";}