{% ajax (true) %}
{% run (Account>Lock) %}
{% run (Account>Options) %}
{% run (Category>Options) %}
{% run (Post>SetID) %}
{% run (Post>Save) %}
{% run (Post>Open) %}
<div id="inner">

    <!-- Form Elements -->
    <form id="form" action="{% uri (this) %}" method="post">
        <input name="ips_gallery" id="ips_gallery" type="hidden" />
        <ul>

            <li><label for="">Situação</label>
                <ul>
                    <li>
                        <label for="status" class="inline"><input type="checkbox" id="status" name="status" value="1" />Ativo</label>
                    </li>
                </ul>
            </li>

            <li>
                <label for="ips_account_id">Autor</label>
                <select name="ips_account_id" id="ips_account_id" class="obrigatory">
                    <option value="">Selecione um autor...</option>
                    {% each (Options Account) OptAccount %}
                    <option value="$OptAccount(id)">$OptAccount(name)</option>
                    {% end(OptAccount) %}
                </select>
            </li>

            <li>
                <label for="ips_category_id">Categoria</label>
                <select name="ips_category_id" id="ips_category_id" class="obrigatory">
                    <option value="">Selecione uma categoria...</option>
                    {% each (Options Category) OptCategory %}
                    <option value="$OptCategory(id)">$OptCategory(name)</option>
                    {% end(OptCategory) %}
                </select>
                <script type="text/javascript">
                    doTitle("{% get (Title) %}");
                    doCheckbox("#status", "{% get (status) Form %}");
                    doSelect("#ips_account_id", "{% get (ips_account_id) Form %}");
                    doSelect("#ips_category_id", "{% get (ips_category_id) Form %}");
                </script>
            </li>

            <li>
                <label for="title">Título</label>
                <input name="title" id="title" type="text" class="medium obrigatory" maxlength="255" value="{% get (title) Form %}" />
            </li>


            <li>
                <label for="text">Texto</label>
                <textarea id="text" name="text" cols="80" rows="20" style="width: 100%; height: 400px;" class="tinymce">{% get (text) Form %}</textarea>
                <br clear="all" />
            </li>

            <li>
                {% show (admin/internal/dashboard/post/edit/gallery/{% get (id) Form %}) %}
            </li>

        </ul>
        <ul>

            <li>
                <a id="form-cancel" href="#cancel" onclick="doPage('{% get (Redirect) Admin %}');" class="button_white right">Cancelar</a>
                <span class="right">&nbsp;&nbsp;&nbsp;</span>
                <a id="form-submit" href="#submit" onclick="doPost(this);" class="button right">Ok</a>
            </li>

        </ul>

    </form>
    <!-- /End Form Elements -->

</div>
<link rel="stylesheet" type="text/css" href="{% uri (gallery/js/prettyphoto/prettyPhoto.css) cache %}" />
<script type="text/javascript" src="{% uri (gallery/js/prettyphoto/jquery.prettyPhoto.js) %}"></script>
<script type="text/javascript">
    $("a[rel^='prettyPhoto']").prettyPhoto({
        show_title: false,
        allow_resize: false
    });
    function doPost(obj) {
        var ips_galley = new Array();
        var i = 0;
        $(".gallery-item").each(function() {
            ips_galley[i] = $(this).attr("id").replace('gallery-item-', '');
            i++;
        });
        $("#ips_gallery").val(ips_galley.join(","));
        return doSubmit(obj);
    }
    function doRemoveGallery(obj) {
        var agree = confirm("Deseja desassociar este item?");
        if (agree) {
            $(obj).remove();
        }
    }
</script>