{% ajax (true) %}
{% run (Account>Lock) %}
{% run (Category>SetID) %}
{% run (Category>Save) %}
{% run (Category>Open) %}
<div id="inner">

    <!-- Form Elements -->
    <form id="form" action="{% uri (this) %}" method="post">
        <ul>

            <li>
                <label for="name">Nome</label>
                <input name="name" id="name" type="text" class="medium obrigatory" maxlength="45" value="{% get (name) Form %}" />
            </li>

            <li>
                <label for="description">Descrição</label>
                <input name="description" id="description" type="text" class="large" maxlength="255" value="{% get (description) Form %}" />
            </li>

            <li>
                <a id="form-cancel" href="#cancel" onclick="doPage('{% get (Redirect) Admin %}');" class="button_white right">Cancelar</a>
                <span class="right">&nbsp;&nbsp;&nbsp;</span>
                <a id="form-submit" href="#submit" onclick="doSubmit(this);" class="button right">Ok</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>
<script type="text/javascript">
    doTitle("{% get (Title) %}");
</script>