{% ajax (true) %}
{% run (Account>Lock) %}
{% run (Admin>SetRedirect) %}
<div id="inner">
    Utilize o menu ao lado para iniciar!
</div>
<script type="text/javascript">
    doTitle("Dashboard");
</script>