.hidden {
    display: none;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.bolder {
    font-weight: bolder;
}

img {
    border: 0px;
}

th.date, th.small {
    width: 20%;
    padding: 0 10px;
}

th.status, th.edit {
    width: 3%;
    padding: 0 10px;
}

td.date, td.status, td.edit {
    text-align: center;
    vertical-align: middle;
}

.obrigatory {
    border:1px solid #eaa1a0;
}

input[type=text].input-focus{
    color:#000;
}

#search {
    width: 200px;
}

input[type=text].input-idle{
    color: #6F6F6F;
}

table thead th.checkbox,
table.tablesorter thead th.checkbox{
    width:19px !important;
}

table div.checker,
table.tablesorter div.checker{
    margin:0;
}

table tbody td.selected {
    background-color: #EDEDED;
}

td.notification {
    padding-top: 20px;
}

td#gallery-associate-itens span {
    padding: 5px;
    margin: 5px 5px 5px 0px;
    float: left;
    border: #09477b solid 1px;
    background-color: #b3c7e1;
}