{% run (index>Menu) %}
{% run (index>Categorias) %}
{% run (index>Social) %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{% constant (system_name) %}</title>

        <style type="text/css">
            .recentcomments a {display:inline !important;padding:0 !important;margin:0 !important;}
        </style>

        <meta name="home_slider_timeout" content="5000" />
        <meta name="home_slider_effect" content="fade" />
        <meta name="slider_timeout" content="5000" />
        <meta name="slider_effect" content="fade" />

        <link rel="stylesheet" type="text/css" href="{% uri (gallery/calibra/css/prettyPhoto.css) %}"/>
        <link rel="stylesheet" type="text/css" href="{% uri (gallery/calibra/style.css) %}"/>
        <link rel="stylesheet" type="text/css" href="{% uri (gallery/calibra/css/blackandred.css) %}"/>

        <script type="text/javascript" src="{% uri (gallery/calibra/scripts/jquery.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/calibra/scripts/jquery.kwicks.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/calibra/scripts/jquery.easing.1.1.3.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/calibra/scripts/jquery.cycle.all.min.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/calibra/scripts/cufon.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/calibra/scripts/cufonfonts/ptsans.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/calibra/scripts/jquery.prettyPhoto.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/calibra/scripts/jqueryslidemenu.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/calibra/scripts/config.js) %}"></script>

        <style type="text/css">
            body, input, textarea {}
            body {}
            a {color:;}
            #homebutton a, #homebutton a:hover {background-color:}
            #featured-menu ul li a {background:;}
            #featured-menu ul li a:hover {border-right:4px solid }
            #footer {}
            h1 {}
            h2 {}
            h3 {}
            h4 {}
            h5 {}
            h6 {}
            p {}
            #primary-menu, #sociables {background-color:;}
            #primary-menu ul li a {}
            .one-third  .preloader {height:176px;}
            .one-fourth .preloader {height:136px;}
            .kwicks li { width: 196px; height:400px;}
            #kwicks {height:400px;}
            #slideshow-wrapper {height:460px;}
        </style>
    </head>
    <body>

        <div id="wrapper">
            <div id="content-wrapper">

                <div id="header">
                    <div id="header-widget">
                        <div id="testimonial-wrap">
                            <p><a href="{% get(Site URL) %}">{% constant (system_name) %}</a></p>
                            <!--<p class="signature">by {% get(Site Autor) %}</p>-->
                        </div>
                    </div>
                    <!--
                    <div id="logo">
                        <a href="{% get(Site URL) %}" title="" class="crearborder"><img src="{% get(Site Logo) %}" alt=""/></a>
                    </div>
                    -->
                </div>

                <div id="homebutton">
                    <a href="{% uri () %}" title="Início"><span>Início</span></a>
                </div>

                <div id="primary-menu" class="menu-primary-container">
                    <ul id="menu-primary">
                        {% each (Menu) MenuList %}
                        <li id="menu-item-$MenuList(id)" class="menu-item menu-item-type-post_type menu-item-$MenuList(id)"><a href="{% uri (post/category/$MenuList(id)) %}" title="$MenuList(name)"><span>$MenuList(name)</span></a></li>
                        {% end(MenuList) %}
                        <li id="menu-item-all" class="menu-item menu-item-type-post_type menu-item-all"><a href="{% uri (category) %}" title="mais..."><span>mais...</span></a></li>
                    </ul>
                </div>

                <div class="sidebarwidth">
                    <form action="{% uri (post/search) %}" method="get" id="searchform">
                        <p>
                            <input type="text" value="Pesquisar" name="s" id="s" class="cleardefault" />
                            <input type="submit"  id="searchsubmit" value="Search" />
                        </p>
                    </form>
                    <div id="sociables">
                        <div class="socialmedia">
                            <ul class="social">
                                {% each (Social) Social %}
                                <li><a href="$Social(link)" title="$Social(name)" rel="external"><img src="{% uri (gallery/calibra/img/icons/$Social(id).png) %}" class="clearborder" alt="$Social(name)" /></a></li>
                                {% end(Social) %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="article-content">

                    {% show ({% get (Permalink) %}) %}

                    <div id="footer">

                        <div id="footermenu-cat-all">
                            <h4>Categorias</h4>
                            {% each (Categorias) Categoria %}
                            <span> <a href="{% uri (post/category/$Categoria(id)) %}">$Categoria(name)</a> </span>
                            {% end(Categoria) %}
                        </div>

                        <br />
                        <div id="footermenu-wrap">
                            <div id="footermenu" class="menu-footer-container">
                                <ul id="menu-footer" class="menu">
                                    <li id="menu-item-footer-home-2" class="menu-item menu-item-type-custom menu-item-footer"><a href="{% uri () %}">Início</a></li>
                                    <li id="menu-item-footer-contact" class="menu-item menu-item-type-custom menu-item-footer"><a href="{% uri (contact) %}">Contato</a></li>
                                    <li id="menu-item-footer-about" class="menu-item menu-item-type-custom menu-item-footer"><a href="{% uri (about) %}">Sobre</a></li>
                                </ul>
                            </div>
                            <div id="footercredits">{% get (Site Copyright) %}</div>
                        </div>

                    </div>
                </div>
            </div>
            <script type="text/javascript">
                Cufon.now();
            </script>
        </div>
    </body>
</html>