<div class="portlet x12">
    <div class="portlet-header"><h4>Postagens</h4></div>

    <div class="portlet-content">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="postagens">
            <thead>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                </tr>
            </thead>
        </table>
    </div>
</div>