<!-- run (postagens editar) -->
<div class="portlet x9">
    <div class="portlet-header"><h4>Postagens</h4></div>
    <div class="portlet-content">
        <form action="#" method="post" class="form label-inline">
            <div class="field"><label for="titulo">Título </label> <input id="titulo" maxlength="255" size="90" name="titulo" type="text" class="medium" /></div>
            <div class="field">
                <label for="texto">Texto</label>
                <textarea rows="30" cols="90" name="texto"></textarea>
            </div>
            <div class="field"><label for="autor">Autor </label> <input id="autor" maxlength="255" size="70" name="autor" type="text" class="medium" /></div>
            <div class="field">
                <label for="fontes_id">Fonte </label>
                <select id="fontes_id" class="medium">
                    <!-- each (fontes) fontes -->
                    <option value="$fontes(id)">$fontes(nome)</option>
                    <!-- end(fontes) -->
                </select>
            </div>
            <br clear="all" />
            <div class="buttonrow">
                <button class="btn" type="submit">Salvar</button>
                <button class="btn btn-grey" type="reset" onclick="window.open('painel.html?content=postagens', '_self');">Cancelar</button>
                <button class="btn btn-orange" type="reset" onclick="window.open('painel.html?content=postagens-remover&id=<!-- get (id) postagem -->', '_self');">Remover</button>
            </div>



            <div class="field"><label for="fname">First Name </label> <input id="fname" name="fname" size="50" type="text" class="medium" /></div>
            <div class="field"><label for="lname">Last Name </label> <input id="lname" name="lname" size="50" type="text" class="medium" /></div>
            <div class="field"><label for="address1">Address 1 </label> <input id="address1" size="50" type="text" class="large" /></div>
            <div class="field"><label for="address2">Address 2</label> <input id="address2" size="50" type="text" class="large" /></div>
            <div class="field"><label for="country" class="">Country </label> <input id="country" name="country" size="12" type="text" class="medium" />
                <p class="field_help">Field help text.</p>
            </div>
            <div class="field phone_field"><label for="telephone">Telephone</label> <input id="telephone" size="3" type="text" class="xsmall" /> - <input size="3" type="text" class="xsmall" /> - <input size="4" type="text" class="xsmall" />
                <p class="field_help">(###) - ### - ####</p>
            </div>
            <div class="field clearfix">
                <label for="lname">File Upload </label>
                <input style="opacity: 0;" size="19" class="file" type="file" />
            </div>
            <div class="field">
                <label for="type">Type </label>
                <select id="type" class="medium">
                    <optgroup label="Type of Whatever">
                        <option selected="selected">Corporate</option>
                        <option>Individual</option>
                    </optgroup>
                </select>
            </div>
            <div class="controlset field">
                <span class="label">Preferred Location</span>
                <div class="controlset-pad">
                    <input name="radio1" id="radio1" value="1" type="radio" /> <label for="radio1">Option 1</label><br />
                    <input name="radio1" id="radio2" value="1" type="radio" /> <label for="radio2">Option 2</label><br />
                    <input name="radio1" id="radio3" value="1" type="radio" /> <label for="radio3">Option 3</label><br />
                </div>
            </div>
            <div class="controlset field">
                <span class="label">Something Else </span>
                <div class="controlset-pad">
                    <input name="approved" id="check1" value="1" type="checkbox" />  <label for="check1">Some Option 1</label><br />
                    <input name="pending" id="check2" value="1" type="checkbox" />  <label for="check2">Some Option 2</label><br />
                    <input name="actives" id="check3" value="1" type="checkbox" /> <label for="check3">Some Option 3</label><br />
                </div>
            </div>
            <div class="field"><label for="description">Description</label> <textarea rows="20" cols="90" name="texto"></textarea></div>
            <br clear="all" />
            <div class="buttonrow">
                <button class="btn">Primary Action</button>
                <button class="btn btn-orange">Secondary Action</button>
                <button class="btn btn-grey">Tertiary Action</button>
            </div>
        </form>
        <br /><br />
        <br /><br />
    </div>
</div>
<div class="portlet x3">
    <div class="portlet-header"><h4>Sidebar</h4></div>
    <div class="portlet-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>