<!-- run (postagens editar) -->
<div class="portlet x9">
    <div class="portlet-header"><h4>Postagens</h4></div>
    <div class="portlet-content">
        <form action="#" method="post" class="form label-inline">
            <div class="field"><label for="titulo">Título </label> <input id="titulo" maxlength="255" size="90" name="titulo" type="text" class="medium" /></div>
            <div class="field">
                <label for="texto">Texto</label>
                <textarea rows="30" cols="90" name="texto"></textarea>
            </div>
            <div class="field"><label for="autor">Autor </label> <input id="autor" maxlength="255" size="70" name="autor" type="text" class="medium" /></div>
            <div class="field">
                <label for="fontes_id">Fonte </label>
                <select id="fontes_id" class="medium">
                    <!-- each (fontes) fontes -->
                    <option value="$fontes(id)">$fontes(nome)</option>
                    <!-- end(fontes) -->
                </select>
            </div>
            <br clear="all" />
            <div class="buttonrow">
                <button class="btn" type="submit">Salvar</button>
                <button class="btn btn-grey" type="reset" onclick="window.open('painel.html?content=postagens', '_self');">Cancelar</button>
                <button class="btn btn-orange" type="reset" onclick="window.open('painel.html?content=postagens-remover&id=<!-- get (id) postagem -->', '_self');">Remover</button>
            </div>
        </form>
        <br /><br />
        <br /><br />
    </div>
</div>
<div class="portlet x3">
    <div class="portlet-header"><h4>Informações</h4></div>
    <div class="portlet-content">
        <p>Este editor ajudará a formatar seu texto de acordo com o site.</p>
    </div>
</div>