<a name="line"></a>
<div id="gallery_wrapper" class="portlet x8">
    <div class="portlet-header">
        <h4>Image Gallery</h4>
    </div> <!-- .portlet-header -->
    <div class="portlet-content">
        <ul class="gallery">
            <li>
                <img alt="" src="../imagens/admin/rain_small.jpg"/>
                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/rain_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>


            <li>
                <img alt="" src="../imagens/admin/crayons_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/crayons_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/rain_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/rain_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/coins_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/coins_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/crayons_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/crayons_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/coins_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/coins_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/crayons_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/crayons_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/rain_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/rain_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/coins_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/coins_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/crayons_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/crayons_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/coins_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/coins_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/rain_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/rain_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/rain_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/rain_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>


            <li>
                <img alt="" src="../imagens/admin/crayons_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/crayons_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/rain_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/rain_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/coins_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/coins_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/crayons_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/crayons_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/coins_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/coins_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/crayons_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/crayons_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/rain_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/rain_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/coins_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/coins_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/crayons_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/crayons_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/coins_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/coins_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

            <li>
                <img alt="" src="../imagens/admin/rain_small.jpg"/>

                <div class="actions">	
                    <a  class="btn btn-orange btn-small" rel="facebox" href="../imagens/admin/rain_large.jpg">View</a>
                    <a href="javascript:;" class="btn btn-grey btn-small delete">Delete</a>
                </div>
            </li>

        </ul>


    </div> <!-- .portlet-content -->
</div> <!-- .portlet -->


<div class="portlet x4">

    <div class="portlet-header">
        <h4>Upload File</h4>
    </div> <!-- .portlet-header -->

    <div class="portlet-content">

        <form id="add-user-form" action="" method="post" class="form label-top">

            <div class="field"><label for="file_name">File Name </label> <input id="file_name" name="file_name" size="30" type="text" value="" /></div>

            <div class="field clearfix">								
                <label for="lname">File Upload </label> 								
                <input style="opacity: 0;" size="35" class="file" type="file" />								
            </div>

            <div class="field">
                <label for="type">Type </label>
                <select id="type" class="medium">

                    <optgroup label="Image Category">
                        <option>Buildings</option>
                        <option>Lights</option>
                        <option>Technology</option>
                        <option>Realism</option>
                        <option>3d</option>

                    </optgroup>
                </select>
            </div>

            <div class="buttonrow">
                <button class="btn">Upload File</button>
            </div> 		


        </form>

    </div> <!-- .portlet-content -->

</div> <!-- .portlet -->