{% ajax (true) %}
{% run (Account>Lock) %}
{% run (Account>Options) %}
{% run (Category>Options) %}
{% run (Gallery>SetID) %}
{% run (Gallery>Save) %}
{% run (Gallery>Open) %}
<div id="inner">

    <!-- Form Elements -->
    <form id="form" action="{% uri (this) %}" method="post">
        <ul>

            <li><label for="">Situação</label>
                <ul>
                    <li>
                        <label for="status" class="inline"><input type="checkbox" id="status" name="status" value="1" />Ativo</label>
                    </li>
                </ul>
            </li>

            <li>
                <label for="ips_account_id">Autor</label>
                <select name="ips_account_id" id="ips_account_id" class="obrigatory">
                    <option value="">Selecione um autor...</option>
                    {% each (Options Account) OptAccount %}
                    <option value="$OptAccount(id)">$OptAccount(name)</option>
                    {% end(OptAccount) %}
                </select>
            </li>

            <li>
                <label for="ips_category_id">Categoria</label>
                <select name="ips_category_id" id="ips_category_id" class="obrigatory">
                    <option value="">Selecione uma categoria...</option>
                    {% each (Options Category) OptCategory %}
                    <option value="$OptCategory(id)">$OptCategory(name)</option>
                    {% end(OptCategory) %}
                </select>
            </li>

            <li>
                <label for="title">Título</label>
                <input name="title" id="title" type="text" class="medium obrigatory" maxlength="45" value="{% get (title) Form %}" />
            </li>

            <li>
                <label for="description">Descrição</label>
                <input name="description" id="description" type="text" class="large obrigatory" maxlength="255" value="{% get (description) Form %}" />
            </li>

            {% if ({% get (id) Form %} == ) InsertFile %}
            <li>
                <label for="filename">Arquivo</label>
                <input type="hidden" name="file" id="file" class="obrigatory" />
                <input type="file" name="filename" id="filename" class="uploadify" />
                <div id="file_queue"></div>
            </li>
            {% else(InsertFile) %}
            <li>
                <div class="grid_3">
                    <label for="mimetype">Pré-visualizacão</label>
                    {% if ({% get (thumb) Form %} != ) Thumb %}
                    <a href="{% uri ({% get (file) Form %}) %}" rel="prettyPhoto">
                        <div class="box center">
                            <span style="display: block; margin: 5px;">
                                <img src="{% uri ({% get (thumb) Form %}) %}" alt="Clique para ampliar..." title="Clique para ampliar..." />
                            </span>
                        </div>
                    </a>
                    {% else(Thumb) %}
                    <div class="center">
                        <a href="{% uri ({% get (file) Form %}) %}" target="_blank" title="Clique para abrir em uma nova janela..."><img src="{% uri (gallery/images/world_go.png) %}" alt="Clique para abrir em uma nova janela..." title="Clique para abrir em uma nova janela..." /></a>
                    </div>
                    {% end(Thumb) %}
                </div>
                <div class="grid_7">
                    <ul>
                        <li>
                            <label for="size">Tamanho</label>
                            <input name="size" id="size" type="text" class="small" readonly value="{% get (size) Form %}" />
                        </li>
                        <li>
                            <label for="mimetype">Tipo</label>
                            <input name="mimetype" id="mimetype" type="text" class="small" readonly value="{% get (mimetype) Form %}" />
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </li>
            {% end(InsertFile) %}

            <li>
                <a id="form-cancel" href="#cancel" onclick="doPage('{% get (Redirect) Admin %}');" class="button_white right">Cancelar</a>
                <span class="right">&nbsp;&nbsp;&nbsp;</span>
                <a id="form-submit" href="#submit" onclick="doSubmit(this);" class="button right">Ok</a>
            </li>

        </ul>
    </form>
    <!-- /End Form Elements -->

</div>
<link rel="stylesheet" type="text/css" href="{% uri (gallery/js/uploadify/uploadify.css) cache %}" />
<link rel="stylesheet" type="text/css" href="{% uri (gallery/js/prettyphoto/prettyPhoto.css) cache %}" />
<script type="text/javascript" src="{% uri (gallery/js/uploadify/jquery.uploadify.js) %}"></script>
<script type="text/javascript" src="{% uri (gallery/js/uploadify/swfobject.js) %}"></script>
<script type="text/javascript" src="{% uri (gallery/js/prettyphoto/jquery.prettyPhoto.js) %}"></script>
<script type="text/javascript">
    doTitle("{% get (Title) %}");
    doCheckbox("#status", "{% get (status) Form %}");
    doSelect("#ips_account_id", "{% get (ips_account_id) Form %}");
    doSelect("#ips_category_id", "{% get (ips_category_id) Form %}");
    function doFile(thisFile) {
        $("#file").val(thisFile);
    }
    function doAlert(id, obj) {
        $("#file_complete").empty();
        $("#file_queue").append('<div id="file_complete" class="uploadifyQueueItem completed"><span class="fileName">'+obj.name+' ('+obj.size+' bytes)</span><span class="percentage"> - Concluido</span><div>');
    }
    $("#filename").uploadify({
        'queueID'        : 'file_queue',
        'script'         : '{% uri (admin/internal/dashboard/gallery/upload) %}',
        'uploader'       : '{% uri (gallery/js/uploadify/uploadify.swf) %}',
        'cancelImg'      : '{% uri (gallery/images/icons/cancel.png) %}',
        'auto'           : true,
        'buttonText'     : "Selecionar",
        'onComplete'     : function (e, id, obj, data) {
            doAlert(id, obj);
            doFile(data);
        }
    });
    $("a[rel^='prettyPhoto']").prettyPhoto({
        show_title: false
    });

</script>