{% ajax (true) %}
{% run (Admin>SetRedirect) %}
{% run (Account>Lock) %}
{% run (Account>SetPage) %}
{% run (Account>SetSearch) %}
{% run (Account>Search) %}
<div id="inner">

    <div class="right">
        <form id="form" action="{% uri (this) %}" method="post">
            <ul>
                <li>
                    {% if ({% get (Search Text) %} != ) SearchText %}
                    <input name="search" id="search" type="text" value="{% get (Search Text) %}" class="small" maxlength="45" />
                    {% else(SearchText) %}
                    <input name="search" id="search" type="text" value="Filtrar..." class="small obrigatory switable" maxlength="45" />
                    {% end(SearchText) %}
                    <span>&nbsp;&nbsp;&nbsp;</span>
                    <a id="form-submit" href="#submit" class="button" onclick="doSubmit(this);">Ok</a>
                </li>
            </ul>
        </form>
    </div>

    <!-- Tabular Data - no div#inner because padding isnt needed -->
    <table width="100%" id="content">
        <thead>
            <tr>
                <th class="checkbox"><input type="checkbox"></th>
                <th>Nome</th>
                <th class="small">Usuário</th>
                <th class="date">Cadastro</th>
                <th class="status"></th>
                <th class="edit"></th>
            </tr>
        </thead>
        <tbody>
            {% if ({% get (Search) %} != ) Search %}
            {% each (Search) List %}
            <tr>
                <td><input type="checkbox" class="checkbox" value="$List(id)"></td>
                <td>$List(name)</td>
                <td class="small">$List(account)</td>
                <td class="date">$List(insert_date)</td>
                <td class="status">$List(status)</td>
                <td class="edit"><a href="javascript:doPage('config/account/edit/$List(id)')"><img src="{% uri (gallery/images/icons/pencil.png) %}" alt="Editar" /></a></td>
            </tr>
            {% end(List) %}
            {% else(Search) %}
            <tr>
                <td colspan="6" class="notification information center">
                    <p>
                        <span>Nenhum registro encontrado!</span>
                    </p>
                </td>
            </tr>
            {% end(Search) %}
        </tbody>
    </table>
    <!-- /End Tabular Data -->

    {% if ({% get (Search Pagination) %} != ) Pagination %}
    <!-- Pagination -->
    <div class="pagination">
        {% each (Search Pagination) Pages %}
        {% if ($Pages(page) != current) Current$Pages() %}
        <a href="javascript:doPage('dashboard/category/$Pages(page)')" title="$Pages(title)">$Pages(label)</a>
        {% else(Current$Pages()) %}
        <a href="#" class="current" title="$Pages(title)">$Pages(label)</a>
        {% end(Current$Pages()) %}
        {% end(Pages) %}
    </div>
    <!-- /End Pagination -->
    {% end(Pagination) %}

    <a href="javascript:doPage('config/account/edit')" class="button_white" title="Novo Registro">Novo Registro</a>
    <span>&nbsp;</span>
    <a href="javascript:doDelete();" class="button_white" title="Apagar">Apagar selecionados</a>

</div>
<script type="text/javascript">
    doTitle("{% get (Title) %}");
    function doDelete() {
        var thisIds = new Array();
        var thisItem = $("#inner").children('table').children('tbody').find('input[type=checkbox]:checked');
        $(thisItem).each(function() {
            thisIds.push($(this).val());
        });
        if (thisIds.length>0) {
            var agree = confirm('Deseja excluir o(s) registro(s) selecionado(s)?');
            if (agree) {
                doPage('config/account/delete/' + thisIds);
            }
        } else alert("É necessário selecionar ao menos um registro.");
    }
    $("td.status").each(function() {
        if ($(this).text() == "1") {
            $(this).html('<img src="{% uri (gallery/images/icons/lock_open.png) %}" alt="Ativo" title="Ativo" />');
        } else {
            $(this).html('<img src="{% uri (gallery/images/icons/lock.png) %}" alt="Bloqueado" title="Bloqueado" />');
        }
    });
</script>