<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% defined (ips_fullname) %}</title>
    </head>
    <body>
        <h1 class="error-code-{% get (Error Code) %}">{% get (Error Code Message) %}</h1>
        {% if ({% get (Error Message) %} != ) ErrMsg %}
        <hr />
        <p>{% get (Error Message) %}</p>
        <p>
            {% each (Error Trace) Trace %}
            <i>$Trace(file) $Trace(line)</i><br />
            {% end(Trace) %}
        </p>
        {% end(ErrMsg) %}
        <hr />
        <p>
            <b>Insign Platform System 1.2</b><br />
            Notificação gerada em <i>{% get (Error Date) %}</i> registrada sobre identificação <i>{% get (Session ID) %}</i> (<i>{% get (Session IP) %}</i> / <i>{% get (Session IP Reverse) %}</i>)
        </p>
    </body>
</html>
