{% run (index>Novidades) %}
{% run (index>Initial) %}

<div id="pagetitle">
    <div id="featured">
        <h1>Início</h1>
    </div>
</div>

<div id="content" class="content-right">

    <div class="sidebar sidebar-right">
        <div class="widgetwrap">
            <h4>Novidades</h4>
            {% if ({% get (Novidades) %} != ) Novidades %}
            {% each (Novidades) Novidade %}
            <div class="latestposts">
                <span class="tinytext">$Novidade(insert_date)</span>
                <span class="postlisttitle"><a href="{% uri (post/view/$Novidade(id)) %}">$Novidade(title)</a></span>
            </div>
            {% end(Novidade) %}
            {% else(Novidades) %}
            <div class="latestposts">
                <p>Sem postagens!</p>
            </div>
            {% end(Novidades) %}
        </div>
    </div>

    <div class="content-narrow contentwidth">

        {% if ({% get (Search) %} != ) Search %}
        {% each (Search) List %}
        <div class="newspost">
            <div class="newsinfo">
                <h3 style="margin:0 0 4px 0;"><a href="{% uri (post/view/$List(id)) %}">$List(title)</a></h3>
                <p class="tiny">Postado em $List(insert) por $List(ips_account_name)</p>
                <p>$List(text)</p>
                <a href="{% uri (post/view/$List(id)) %}" class="btn"><span>Leia mais...</span></a>
            </div>
            {% if ($List(ips_gallery_id) != ) Thumb$List(id) %}
            <div class="newsimage">
                <a href="{% uri (post/view/$List(id)) %}"><img src="$List(ips_gallery_thumb)" alt="$List(ips_gallery_title)" width="210px" /></a>
            </div>
            {% end(Thumb$List(id)) %}
        </div>
        {% end(List) %}
        {% else(Search) %}
        <div class="newsList">
            <div class="newsinfo">
                <h3 style="margin:0 0 4px 0;">Ops...</h3>
                <p>Nenhuma postagem encontrada!</p>
            </div>
        </div>
        {% end(Search) %}

    </div>

</div>