{% run (Account>Login) %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% get (Title) %}</title>
        <link rel="stylesheet" type="text/css" href="{% uri (gallery/admin/styles.css) %}" />
        <link rel="stylesheet" type="text/css" href="{% uri (gallery/admin/custom.css) cache %}" />
        <script type="text/javascript" src="{% uri (gallery/js/jquery.js) %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.notification').delay(2000).fadeOut(400);
                $("form input").live("keypress", function(e) {
                    var e = e ? e : window.event;
                    var key = (e.keyCode) ? e.keyCode : e.which;
                    if (key == "13") {
                        doSubmit();
                    }
                });
                $("#account").focus();
            });
            function GetLocal(thisFile) {
                return "{% uri () %}" + thisFile;
            }
            function doSubmit() {
                $("#authenticate").trigger("submit");
            }
        </script>
    </head>
    <body class="red">
        <div id="login_container">
            <div id="login">
                <div id="login_header">
                    <h2>Autenticação</h2>
                </div>
                <div id="login_content">
                    <form id="authenticate" action="" method="post">
                        <ul id="authenticate-itens">
                            {% if ({% get (Submit Message) %} != ) Submit %}
                            <li>
                                <p class="notification {% get (Submit Type) %}">
                                    <span>{% get (Submit Message) %}</span>
                                </p>
                            </li>
                            {% end(Submit) %}
                            <li>
                                <label>Usuário:</label>
                                <input type="text" name="account" id="account" value="{% get (account) %}" />
                            </li>
                            <li>
                                <label>Senha:</label>
                                <input type="password" id="password" name="password" />
                            </li>
                            <li class="clearfix">
                                <a href="javascript:doSubmit()" class="button right">Ok</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <script src="{% uri (gallery/js/main.js) %}" type="text/javascript"></script>
    </body>
</html>