<!-- if (<!-- get (tag) --> == ) tag -->
<!-- html (slider) -->
<!-- end(tag) -->
<!-- for (1, 6) post -->
<div class="post">
    <a href="index.html?tag=jquery" class="category">jQuery</a>
    <p class="arrow">&rarr;</p>
    <a href="index.html?content=postagem&id=$post()" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
    <p class="meta">Postado em 2-nd of February, 2010, por <a href="index.html?usuario=1">Heron Santos</a></p>
    <div class="thumbnail">
        <a href="index.html?content=postagem&id=$post()"><img src="imagens/press/postimage.jpg" alt="postimage" /></a>
    </div>
    <p class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.
    </p>
    <div class="postmeta">
        <img src="imagens/press/tag.gif" alt="tag icon"/>
        <a href="index.html?tag=jquery" class="tags">jQuery</a>
        <a href="index.html?tag=tooltip" class="tags">tooltip</a>
        <a href="index.html?tag=mootools" class="tags">mootools</a>
        <a href="index.html?tag=slider" class="tags">slider</a>
    </div>
</div>
<!-- end(post) -->
<div class="articles-nav">
    <ul class="pages">
        <!-- for (1, 9) page -->
        <li><a href="index.html?pagina=$page()&tag=<!-- get (tag) -->">$page()</a></li>
        <!-- end(page) -->
    </ul>
    <ul class="flip">
        <li class="prev"><a href="index.html?pagina=back&tag=<!-- get (tag) -->">&laquo; Anterior</a></li>
        <li class="next"><a href="index.html?pagina=next&tag=<!-- get (tag) -->">Próximo &raquo;</a></li>
    </ul>
</div>