<div class="post">
    <a href="index.html?tag=jquery" class="category">jQuery</a>
    <p class="arrow">&rarr;</p>
    <a href="index.html?content=postagem&id=<!-- get (post) -->" class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
    <p class="meta">Posted on 2-nd of February, 2010, by <a href="index.html?usuario=1">Heron Santos</a></p>
    <br clear="all" />
    <div id="post">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.</p>

        <div><div><p>
	A Receita Federal informou nesta quarta-feira (3) que os fabricantes de ve&#237;culos que tiverem instala&#231;&#245;es no Brasil ter&#227;o redu&#231;&#227;o do Imposto Sobre Produtos Industrializados (IPI) at&#233; julho de 2016. A medida faz parte do <a href="http://g1.globo.com/economia/noticia/2011/08/renuncia-do-plano-e-de-r-20-bi-ate-o-fim-de-2012-diz-desenvolvimento.html">pacote de est&#237;mulo &#224; competitividade</a> anunciado na &#250;ltima ter&#231;a (2) pelo governo federal e foi publicada no Di&#225;rio Oficial da Uni&#227;o nesta quarta.</p>

                <p>
	N&#227;o haver&#225; redu&#231;&#227;o imediata da tributa&#231;&#227;o, de acordo com nota oficial divulgada pelo governo na noite desta quarta. "A Medida Provis&#243;ria 540 autoriza o incentivo tribut&#225;rio para produ&#231;&#227;o e n&#227;o para o consumidor e ser&#225; com base em crit&#233;rios ainda n&#227;o definidos que est&#227;o sendo discutidos entre o governo e o setor. O percentual das al&#237;quotas e as contrapartidas ainda ser&#227;o definidos."</p>

                <blockquote class="saibamais componente_materia">
                    <strong>saiba mais</strong>
                    <ul><li>
                            <a href="http://g1.globo.com/carros/noticia/2011/06/industria-de-veiculos-no-brasil-e-ate-60-menos-competitiva-diz-anfavea.html">Ind&#250;stria de ve&#237;culos no Brasil &#233; at&#233; 60% menos competitiva, diz Anfavea </a></li>
                        <li>

                            <a href="http://g1.globo.com/carros/noticia/2011/08/denatran-limita-numero-de-veiculos-importados-por-independentes.html">Denatran limita n&#250;mero de ve&#237;culos importados por independentes</a></li>
                    </ul></blockquote>
                <p>
	A MP englobar&#225;, al&#233;m de autom&#243;veis, a fabrica&#231;&#227;o de tratores, &#244;nibus, caminh&#245;es e ve&#237;culos comerciais leves, entre outros. Entre&#160; 2008 e 2010, para estimular o consumo, o governo reduziu as al&#237;quotas do IPI de ve&#237;culos novos e outros produtos, levando a um recorde de vendas no setor automobil&#237;stico. A inten&#231;&#227;o agora &#233; tornar a ind&#250;stria nacional mais competitiva.</p>

                <p><img style="float: left;" src="../uploads/images/_thumbs/_avatar_2011_2.png" alt="" width="140" height="140" />sdfsdfsdfsd</p>

                <p>
	"O objetivo &#233; melhorar a competitividade do parque nacional e incentivar a produ&#231;&#227;o no pa&#237;s. O produto de um importador independente, que n&#227;o est&#225; instalado no Brasil, n&#227;o vai ser beneficiado pela medida. Uma empresa que esteja s&#243; importando n&#227;o vai se beneficiar, porque n&#227;o vai atender aos requisitos da medida", disse o coordenador-geral de Tributa&#231;&#227;o da Receita Federal, Fernando Mombelli.</p>

                <p>
                    <strong>Crit&#233;rios indefinidos</strong><br>
	Segundo Sandro Serpa, subsecret&#225;rio de Tributa&#231;&#227;o da Receita Federal, os crit&#233;rios de conte&#250;do nacional e de inova&#231;&#227;o para as empresas poderem se beneficiar da medida ainda ser&#227;o fixados. "Vai haver um decreto. Quanto e como [de conte&#250;do nacional e inova&#231;&#227;o] vai ser definido ainda. A ideia &#233; respeitar os acordos internacionais que o pa&#237;s j&#225; fez. Vai ter de cumprir os requisitos em sua planta nacional", declarou Serpa.</p>

                <p>
	Na &#250;ltima ter&#231;a, o presidente da Associa&#231;&#227;o Nacional dos Fabricantes de Ve&#237;culos Automotores (Anfavea), Cledorvino Belini, disse que ainda n&#227;o sabia como funcionar&#225; o novo regime automotivo. A afirma&#231;&#227;o foi feita ap&#243;s reuni&#227;o com o ministro da Fazenda, Guido Mantega. Na ocasi&#227;o, o ministro do Desenvolvimento, Fernando Pimentel, explicou que a ideia &#233; criar incentivos para as empresas que tenham inova&#231;&#227;o no Brasil e agrega&#231;&#227;o de valor, conte&#250;do nacional. "Tem que comprovar engenharia de produ&#231;&#227;o, produto, pesquisa e desenvolvimento no Brasil. N&#227;o &#233; trazer de fora", afirmou.</p>

                <p>
	Belini disse que pediu ao governo a redu&#231;&#227;o de tributos com base em investimentos feitos pela ind&#250;stria automobil&#237;stica em inova&#231;&#227;o, pesquisa, tecnologia e conte&#250;do nacional. A Anfavea acrescentou que investiu em inova&#231;&#227;o e tecnologia, em 2010, 1% do seu faturamento total de R$ 93 bilh&#245;es, ou seja, cerca de R$ 930 milh&#245;es.</p>
                <p>
                    <strong>Produ&#231;&#227;o at&#233; 60% mais cara</strong><br>

	Em junho passado, a associa&#231;&#227;o de fabricantes divulgou que a produ&#231;&#227;o de ve&#237;culos no Brasil &#233; at&#233; 60% mais cara do que em pa&#237;ses como China, &#205;ndia e M&#233;xico. A afirma&#231;&#227;o foi feita com base em estudo realizado em parceria com a empresa de consultoria PricewaterhouseCoopers.</p>
                <p>
	Segundo o levantamento, a alta do valor da m&#227;o de obra est&#225; entre os principais fatores que pesam nesse custo de produ&#231;&#227;o. Esse valor, incluindo encargos sociais, &#233; de 5,3 euros por hora no Brasil, de acordo com a pesquisa. No M&#233;xico, principal concorrente da regi&#227;o em investimentos, a m&#233;dia &#233; de 2,6 euros a hora. Na China, a hora de um trabalhador custa 1,3 euro e, na &#205;ndia, 1,2 euro. "O Brasil atra&#237;a investimentos tradicionalmente pelo custo da m&#227;o de obra. Hoje em dia perdemos isso", comentou o presidente da Anfavea ao apresentar o estudo, que foi entregue ao governo.</p></div></div>


        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tellus sem, euismod ut consequat id, impe rdiet id odio. Mauris tincidunt sapien vitae orci sagittis eleifend. Proin vitae odio sed urna iaculis consectetur sed id sapien. Integer nec orci in massa placerat ornare sed eu quam.</p>
        </blockquote>

        <p>dfsdfs</p>
        <p style="text-align: center;"><span style="font-size: large;">zzxzcxxz</span></p>

        <p><a href="http://www.heronsantos.com"><img style="float: right;" src="../uploads/images/_thumbs/_avatar_2011_2.png" alt="" width="140" height="140" /></a>sdfsdfsdfsd</p>

        <p>fdasdfsadfasd</p>
        <p>sdfasfsafd</p>
        <p style="text-align: center;">afasdfasdf</p>
        <p>sadfasdfasdf</p>
        <p>sadfasdfasd</p>
        <p>afsdsdafsdf</p> 

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.</p>
        <ol>
            <li>justo nec tristique</li>
            <li>interdum enim ligula</li>
            <li>justo nec tristique</li>
            <li>aenean ullamcorper metus</li>
            <li>justo nec tristique</li>
            <li>duis nec justo eu</li>
        </ol>
        <p><img style="float: left;" title="Teste" src="../uploads/images/_thumbs/_avatar_2011_2.png" alt="teste 2" width="140" height="140" />sdfsdfsdfsd</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare hendrerit ultricies. Aenean ac orci leo. Morbi augue orci, congue non faucibus at, consectetur at quam. Duis ut metus nec nibh placerat vulputate. Vivamus pulvinar tempor eros vel dignissim. Vestibulum scelerisque, justo nec tristique posuere, massa ligula interdum enim, a lacinia dolor quam vel leo. Donec vel ligula dolor. Vivamus luctus malesuada sollicitudin. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque. Aenean ullamcorper metus convallis tellus cursus consectetur. Duis nec justo eu urna convallis pellentesque.</p>
        <ul>
            <li>justo nec tristique</li>
            <li>interdum enim ligula</li>
            <li>justo nec tristique</li>
            <li>aenean ullamcorper metus</li>
            <li>justo nec tristique</li>
            <li>duis nec justo eu</li>
        </ul>
        <br clear="all" />
    </div>
    <div id="aboutauthor">
        <div class="authorlogocont"><img src="imagens/index.html?avatar=1" alt="" class="avatar" /></div>
        <div class="authortextcont">
            <p class="authorlogin">Heron Santos</p>
            <p class="aboutauthor">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tellus sem, euismod ut consequat id, impe rdiet id odio. Mauris tincidunt sapien vitae orci sagittis eleifend. Proin vitae odio sed urna iaculis consectetur sed id sapien. Integer nec orci in massa placerat ornare sed eu quam.</p>
        </div>
    </div>
    <div id="sharebox">
        <p class="title">Gostou? Então, por favor, compartilhe!</p>
        <div class="sharebuttons">
            <!-- Social icons - start -->
            <div class="social">
                <ul>
                    <li>
                        <a href="#"><img src="imagens/press/social/delicious.png" alt="delicious" /><span>Bookmark</span></a>
                        <div class="tooltip"><span><strong>tooltip info</strong><br /> goes here</span></div>
                    </li>
                    <li>
                        <a href="#"><img src="imagens/press/social/stumble.png" alt="stumble upon" /><span>Vote up</span></a>
                        <div class="tooltip"><span><strong>tooltip info</strong> goes here</span></div>
                    </li>

                    <li>
                        <a href="#"><img src="imagens/press/social/facebook.png" alt="facebook" /><span>Share</span></a>
                        <div class="tooltip"><span><strong>tooltip info</strong> goes here</span></div>
                    </li>
                    <li>
                        <a href="#"><img src="imagens/press/social/twitter.png" alt="twitter" /><span>Retweet</span></a>
                        <div class="tooltip"><span><strong>tooltip info</strong> goes here</span></div>
                    </li>

                    <li>
                        <a href="#"><img src="imagens/press/social/send-it.png" alt="send it" /><span>Send it</span></a>
                        <div class="tooltip"><span><strong>tooltip info</strong><br />goes here</span></div>
                    </li>
                    <li>
                        <a href="#"><img src="imagens/press/social/digg-it.png" alt="digg it" /><span>Digg it</span></a>
                        <div class="tooltip"><span><strong>tooltip info</strong> goes here</span></div>
                    </li>
                    <li>
                        <a href="#"><img src="imagens/press/social/rss.png" alt="rss" /><span>Subscribe</span></a>
                        <div class="tooltip"><span><strong>tooltip info</strong><br />goes here</span></div>
                    </li>
                </ul>
            </div>
            <!-- Social icons - end -->
        </div>
    </div>
    <div id="comments">
        <p class="title">Comentários</p>
        <ol>
            <!-- for (1, 3) comment -->
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus volutpat egestas fau cibus. Nunc accumsan aliquam viverra. Donec ultrices aliquet tempus.</p>
                <p class="cred"><span>Aug 1st | <a href="index.html?usuario=1">Heron Santos</a></span></p>
            </li>
            <!-- end(comment) -->
        </ol>
    </div>
    <div id="replytopost">
        <p class="title">Comentar!</p>
        <form action="" method="post" id="commentform">
            <p><label for="author">Nome (requerido)</label></p>
            <p><input type="text" name="author" id="author" value="" size="22" tabindex="1" /></p>
            <p><label for="email">E-mail (não será publicado) (requerido)</label></p>
            <p><input type="text" name="email" id="email" value="" size="22" tabindex="2" /></p>
            <p><label for="url">Site</label></p>
            <p><input type="text" name="url" id="url" value="" size="22" tabindex="3" /></p>
            <p><textarea name="comment" id="comment" cols="100%" rows="10" tabindex="4"></textarea></p>
            <p><input name="submit" type="submit" id="submit" tabindex="5" value="Publicar" /></p>
        </form>
    </div>
</div>