<div class="post">
    <p class="abouttitle">Fale conosco</p>
    <form action="" method="post" id="contactform">
        <fieldset>
            <p>
                <label class="comauthor">Seu nome:</label>
                <br />
                <input type="text" name="name" id="name" />
                <br />
            </p>
            <p>
                <label class="comauthor">Seu e-mail:</label>
                <br />
                <input type="text" name="email" id="email" />
                <br />
            </p>
            <p>
                <label class="comauthor">Mensagem:</label><br />
                <textarea cols="6" rows="10" name="message" id="message"></textarea>
                <br />
                <br />
            </p>
            <input type="submit" value="Enviar" name="submit" id="submit" />
        </fieldset>
    </form>
</div>