<ul>
    <li><a href="index.html" class="tag-home">Início</a></li>
    <li><a href="index.html?tag=css" class="tag-css">CSS</a></li>
    <li><a href="index.html?tag=jquery" class="tag-jquery">jQuery</a></li>
    <li><a href="index.html?tag=php" class="tag-php">PHP</a></li>
    <li><a href="index.html?tag=photoshop" class="tag-photoshop">Photoshop</a></li>
    <li><a href="index.html?tag=freebies" class="tag-freebies">Freebies</a></li>
</ul>
<div class="search">
    <form action="" method="post">
        <fieldset>
            <input name="search" type="text" onfocus="if(this.value=='Pesquisar...') {this.value='';this.style.color='#000000';}" value='Pesquisar...' onblur="javascript:if(this.value=='')this.value='Pesquisar...'" />
            <input type="submit" />
        </fieldset>
    </form>
</div>