<div id="sites">
    <p class="sites">Parceiros</p>
    <ul>
        <li><a href="http://www.insigndigital.com.br">Insign Digital</a></li>
        <li><a href="http://compatilhando.me">Compartilhando.me</a></li>
        <li><a href="http://www.heronsantos.com">Heron Santos</a></li>
        <li><a href="http://www.softpixel.com">Softpixel</a></li>
        <li><a href="http://www.riosulcarros.com.br">RioSul Carros</a></li>
        <li><a href="http://www.amatreco.org">Amatreco.org</a></li>
    </ul>
</div>
