{% run (Account>Lock) %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% constant (system_name) %} - Administração</title>
        <link rel="stylesheet" type="text/css" href="{% uri (gallery/admin/styles.css) cache %}" />
        <link rel="stylesheet" type="text/css" href="{% uri (gallery/admin/custom.css) cache %}" />
        <script type="text/javascript" src="{% uri (gallery/js/jquery.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/js/tiny_mce/jquery.tinymce.js) %}"></script>
        <script type="text/javascript" src="{% uri (gallery/js/tiny_mce/tiny_mce.js) %}"></script>
        <script type="text/javascript">

            function init_mce(id) {
                tinyMCE.execCommand('mceAddControl',true,id);
            }

            function halt_mce(id) {
                tinyMCE.execCommand('mceRemoveControl',false,id);
            }

            
            function GetLocal(thisFile) {
                return "{% uri () %}/" + thisFile;
            }

            var xhr = false;
            function doPage(page, data) {
                if (page.length > 0) {
                    $(".tinymce").each(function() {
                        halt_mce($(this).attr("id"));
                    });
                    page = page.replace("admin/internal/", "");
                    $.ajax({
                        url: GetLocal("admin/internal/" + page.toLowerCase()),
                        data: data,
                        cache: false,
                        success: function(data){
                            doMenu(page);
                            $("#content").html(data + "<br clear='all' />");
                            $.getScript('{% uri (gallery/admin/main.js) cache %}');
                            $(".tinymce").each(function() {
                                init_mce($(this).attr("id"));
                            });
                        },
                        error: function(){
                            alert("Atenção!\nOcorreu um erro durante operação, tente novamente!");
                        }
                    });
                }
            }

            function doOpen(url, target) {
                window.open(url, target);
            }

            function doSubmit(object) {
                var dependence = "";
                var form = $(object).parents("form");
                $(".obrigatory").each(function() {
                    if ($(this).val().length == 0) {
                        dependence = dependence + "\n" + $(this).parent().find("label").text();
                    }
                });
                $(".tinymce").each(function() {
                    halt_mce($(this).attr("id"));
                });
                if (dependence == "") {
                    $(form).children().append('<input name="ips_confirm" type="hidden" value="'+parseInt(new Date().getTime().toString().substring(0, 10))+'" />');
                    if ($(form).attr("action").length > 0) {
                        xhr = $.ajax({
                            url: $(form).attr("action"),
                            data: $(form).serialize(),
                            type: "POST",
                            cache: false,
                            success: function(data){
                                $("#content").html(data + "<br clear='all' />");
                                $.getScript('{% uri (gallery/admin/main.js) cache %}');
                                $(".tinymce").each(function() {
                                    init_mce($(this).attr("id"));
                                });
                            },
                            error: function(){
                                alert("Atenção!\nOcorreu um erro durante operação, tente novamente!");
                            }
                        });
                    }
                } else {
                    alert("Os campos abaixo não foram preenchidos:" + dependence);
                    return false;
                }
            }

            function doCheckbox(object, value) {
                $(object).removeAttr("checked");
                if (value == $(object).val()) {
                    $(object).attr("checked", "checked");
                }
            }

            function doSelect(object, value) {
                $(object).val(value);
            }

            function doTitle(title) {
                $("#subheader").hide();
                if (title.length > 0) {
                    $("#subheader").html("<h2>"+title+"<h2>");
                    $("#subheader").show();
                }
            }

            function getSelect(object) {
                return $(object).val();
            }

            function doMenu(current) {
                var main = "{% get (Redirect) %}";
                var children = $("ul#"+main).find("li").eq(0).attr("id");
                var subitem = false;
                if (current.length > 0) {
                    var selected = current.split("/");
                    if (selected[0].length > 0) {
                        main = selected[0];
                        if (selected[1] != undefined) {
                            if (selected[1].length > 0) {
                                children = selected[1];
                                if (selected[2] != undefined) {
                                    if (selected[2].length > 0) {
                                        subitem = selected[2];
                                    }
                                }
                            }
                        }
                    }
                }
                $("ul#menu li a[href="+main+"]").trigger("click");
                $("ul.navigation li.current").removeClass("current");
                $("ul#"+main+" li#nav-"+children).addClass("current");
                if (subitem) {
                    $("ul#"+main+" li#"+children+" a").trigger("click");
                }
            }

            $(document).ready(function() {
                $('.notification').delay(2000).fadeOut(400);
                $("form input").live("keypress", function(e) {
                    var obj = $(this);
                    var e = e ? e : window.event;
                    var key = (e.keyCode) ? e.keyCode : e.which;
                    if (key == "13") {
                        $(this).parent().parent().find("#form-submit").trigger("click");
                        return false;
                    }
                });
                $('.notification').delay(2000).fadeOut(400);

                tinyMCE.init({
                    mode : "none",
                    theme : "advanced",
                    language: "pt",
                    plugins : "pagebreak,style,layer,table,advhr,advimage,advlink,inlinepopups,insertdatetime,preview,media,searchreplace,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist",
                    theme_advanced_buttons1 : "newdocument,|,bold,italic,underline,strikethrough,|,sub,sup,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontsizeselect",
                    theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,undo,redo,|,search,replace,|,bullist,numlist,|,outdent,indent,forecolor,backcolor",
                    theme_advanced_buttons3 : "link,unlink,anchor,image,media,pagebreak,|,blockquote,advhr,|,code,fullscreen,cleanup,help",
                    theme_advanced_buttons4 : "",
                    theme_advanced_toolbar_location : "top",
                    theme_advanced_toolbar_align : "left",
                    theme_advanced_statusbar_location : "bottom",

                    style_formats : [
                        {title : 'Bold text', inline : 'b'},
                        {title : 'Red text', inline : 'span', styles : {color : '#ff0000'}},
                        {title : 'Red header', block : 'h1', styles : {color : '#ff0000'}},
                        {title : 'Example 1', inline : 'span', classes : 'example1'},
                        {title : 'Example 2', inline : 'span', classes : 'example2'},
                        {title : 'Table styles'},
                        {title : 'Table row 1', selector : 'tr', classes : 'tablerow1'}
                    ],

                    formats : {
                        alignleft : {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'left'},
                        aligncenter : {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'center'},
                        alignright : {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'right'},
                        alignfull : {selector : 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes : 'full'},
                        bold : {inline : 'span', 'classes' : 'bold'},
                        italic : {inline : 'span', 'classes' : 'italic'},
                        underline : {inline : 'span', 'classes' : 'underline', exact : true},
                        strikethrough : {inline : 'del'}
                    }
                });

                $("#subheader").ajaxStart(function(){
                    $("body").css("cursor", "auto");
                });
                $("#subheader").ajaxStop(function(){
                    $("body").css("cursor", "progress");
                });
                doPage("{% get (Redirect) %}");
            });

        </script>
    </head>
    <body class="red">
        <div id="header">
            <img id="logo" src="{% uri (gallery/admin/images/logo.png) %}" alt="Administração" />
            <h1>{% constant (system_name) %}</h1>
            <a href="{% uri () %}" class="visit" target="_blank">abrir</a>
            <p>Olá <a href="javascript:doPage('dashboard/my');"><strong>{% get (name) Authenticate %} </strong> (editar)</a> | <a href="{% uri (admin/logoff) %}">Sair</a></p>
        </div>
        <div id="container">
            <div id="sidebar">
                <a class="menu" href=""></a>
                <ul id="menu">
                    <li><a href="dashboard">Dashboard</a></li>
                    {% if ({% get (account) Authenticate %} == root) MenuRoot %}
                    <li><a href="config">Administração</a></li>
                    {% end(MenuRoot) %}
                </ul>
                <ul class="navigation" id="dashboard">
                    <li id="nav-dashboard"><a href="javascript:doPage('dashboard');">Principal</a></li>
                    <li id="nav-category"><a href="javascript:doPage('dashboard/category');">Categorias</a></li>
                    <li id="nav-gallery"><a href="javascript:doPage('dashboard/gallery');">Galeria</a></li>
                    <li id="nav-post"><a href="javascript:doPage('dashboard/post');">Postagens</a></li>
                    <li id="nav-comment"><a href="javascript:doPage('dashboard/comment');">Comentários</a></li>
                    <li id="nav-my"><a href="javascript:doPage('dashboard/my');">Minha conta</a></li>
                </ul>
                {% if ({% get (account) Authenticate %} == root) NavRoot %}
                <ul class="navigation" id="config">
                    <li id="nav-account"><a href="javascript:doPage('config/account');">Contas de usuário</a></li>
                </ul>
                {% end(NavRoot) %}
            </div>
            <div id="subheader" class="clearfix"></div>
            <div id="content"></div>
        </div>
        <script src="{% uri (gallery/admin/main.js) %}" type="text/javascript"></script>
    </body>
</html>