@charset "utf-8";
/* CSS Document */

body{background:#050505; color:#777;}
#header{background:#000 url(../img/shared/header-bg.png) repeat-x top;}
a,

h3, 
h3 a,
#pagetitle h1, 
#primary-menu ul li a:hover, 
#primary-menu ul li.current_page_ancestor a, 
#primary-menu ul li.current_page_item a

{color:#c86400;}

#pagetitle h1{color:#ccc;}
#pagetitle p{color:#777;}

.featured-post h3, 
.featured-post h3 a
{color:#ccc;}

a:hover {color:#777; }

#homebutton a{background:#c86400 url(../img/shared/homeBtn.png) no-repeat center center;}
#homebutton a:hover{background:#c86400  url(../img/shared/homeBtn.png) no-repeat center center; }

#featured-menu ul li a{background-color:#c86400;  margin-bottom:2px;}
#featured-menu ul li a:hover{border-right:4px solid #c86400;}

#pagetitle{background:#050505 url(../img/shared/featured-bg.png) repeat-x;}
#footer {background:#151515;}
#footer h1, #footer  h2, #footer  h3, #footer h4{color:#efefef;}
#footer, #footer p, #footer  a{color:#777;}
#footer a:hover{color:#999;}

#breadcrumb a, #breadcrumb {color:#999;}

h1,h2,h3,h4,h5{color:#555;}
p{color:#777;}