@charset "utf-8";
/* CSS Document */

body{background:#362f2d; color:#766b67;}

a,

h3, 
h3 a,
#pagetitle h1, 
#primary-menu ul li a:hover, 
#primary-menu ul li.current_page_ancestor a, 
#primary-menu ul li.current_page_item a

{color:#736357;}

#pagetitle h1{color:#cabfbc;}
#pagetitle p{color:#777;}

.featured-post h3, 
.featured-post h3 a
{color:#cabfbc;}

a:hover {color:#766b67; }

#homebutton a{background:#736357 url(../img/shared/homeBtn.png) no-repeat center center;}
#homebutton a:hover{background:#736357  url(../img/shared/homeBtn.png) no-repeat center center; }

#featured-menu ul li a{background-color:#736357;  margin-bottom:2px;}
#featured-menu ul li a:hover{border-right:4px solid #736357;}

#pagetitle{background:#362f2d url(../img/shared/featured-bg.png) repeat-x;}
#footer {background:#1e1a19;}
#footer h1, #footer  h2, #footer  h3, #footer h4{color:#efefef;}
#footer, #footer p, #footer  a{color:#766b67;}
#footer a:hover{color:#988a86;}

#breadcrumb a, #breadcrumb {color:#988a86;}

h1,h2,h3,h4,h5{color:#555;}
p{color:#766b67;}