@charset "utf-8";
/* CSS Document */

body{background:#253339; color:#7c8183;}

a,

h3, 
h3 a,
#pagetitle h1, 
#primary-menu ul li a:hover, 
#primary-menu ul li.current_page_ancestor a, 
#primary-menu ul li.current_page_item a,
.featured-post h3, 
.featured-post h3 a
{color:#e56c00;}

a:hover {color:#405160; }

#homebutton a{background:#e56c00 url(../img/shared/homeBtn.png) no-repeat center center;}
#homebutton a:hover{background:#e56c00  url(../img/shared/homeBtn.png) no-repeat center center; }

#featured-menu ul li a{background-color:#e56c00;  margin-bottom:2px;}
#featured-menu ul li a:hover{border-right:4px solid #e56c00;}

#pagetitle{background:#253339 url(../img/shared/featured-bg.png) repeat-x;}
#footer {background:#172125;}
#footer, #footer p, #footer  a, #footer h1, #footer  h2, #footer  h3, #footer h4{color:#7c8183;}

#breadcrumb a, #breadcrumb {color:#b3b8ba;}


h1,h2,h3,h4,h5{color:#515759;}
p{color:#7c8183;}

#primary-menu, #sociables{ background:#161f23 url(../img/shared/menu-bg-light.png) repeat-x;}

