@charset "utf-8";
/* CSS Document */

body{background:#171b20; color:#766b67;}
#header{background:#000 url(../img/shared/header-bg.png) repeat-x top;}
a,

h3, 
h3 a,
#pagetitle h1, 
#primary-menu ul li a:hover, 
#primary-menu ul li.current_page_ancestor a, 
#primary-menu ul li.current_page_item a

{color:#e0b214;}

#pagetitle h1{color:#c0c8d2;}
#pagetitle p{color:#71777e;}

.featured-post h3, 
.featured-post h3 a
{color:#c0c8d2;}

a:hover {color:#71777e; }

#homebutton a{background:#ffc600 url(../img/shared/homeBtn.png) no-repeat center center;}
#homebutton a:hover{background:#ffc600  url(../img/shared/homeBtn.png) no-repeat center center; }

#featured-menu ul li a{background-color:#e0b214;  margin-bottom:2px;}
#featured-menu ul li a:hover{border-right:4px solid #e0b214;}

#pagetitle{background:#171b20 url(../img/shared/featured-bg.png) repeat-x;}
#footer {background:#292f37;}
#footer h1, #footer  h2, #footer  h3, #footer h4{color:#efefef;}
#footer, #footer p, #footer  a{color:#71777e;}
#footer a:hover{color:#9fa9b6;}

#breadcrumb a, #breadcrumb {color:#9fa9b6;}

h1,h2,h3,h4,h5{color:#555;}
p{color:#71777e;}