@charset "utf-8";
/* CSS Document */

body{background:url(../img/patterns/dark_wood.jpg);}
#header{background-color:#000;}
a,

h3, 
h3 a,
#pagetitle h1, 
#primary-menu ul li a:hover, 
#primary-menu ul li.current_page_ancestor a, 
#primary-menu ul li.current_page_item a

{color:#bf1a41;}

#pagetitle h1{color:#bf1a41;}

.featured-post h3, 
.featured-post h3 a
{color:#bf1a41;}

a:hover {color:#777; }

#homebutton a{background:#bf1a41 url(../img/shared/homeBtn.png) no-repeat center center;}
#homebutton a:hover{background:#bf1a41  url(../img/shared/homeBtn.png) no-repeat center center; }


#featured-menu ul li a{background-color:#bf1a41;  margin-bottom:2px;}
#featured-menu ul li a:hover{border-right:4px solid #bf1a41;}

#pagetitle{background:#111 url(../img/shared/featured-bg.png) repeat-x;}
#footer {background:#151515;}
#footer h1, #footer  h2, #footer  h3, #footer h4{color:#efefef;}
#footer, #footer p, #footer  a{color:#777;}
#footer a:hover{color:#999;}

#breadcrumb a, #breadcrumb {color:#999;}

h1,h2,h3,h4,h5{color:#555;}
p{color:#777;}

#primary-menu, #sociables{background-color:#111 }