{% ajax (true) %}
{% run (Account>Lock) %}
{% run (Post>SetID) %}
{% run (Post>OptionsGallery) %}
<table width="100%" id="gallery-associate">
    <thead>
        <tr>
            <th><label for="ips_gallery_id">Selecionar arquivo: </label><input name="ips_gallery_id" id="ips_gallery_id" type="text" class="medium" maxlength="255" value="" /></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="gallery-associate-itens">
                {% each (Options Associate) List %}
                <span id="gallery-item-$List(id)" class="gallery-item" onclick="doRemoveGallery(this)">$List(title)</span>
                {% end(List) %}
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript" src="{% uri (gallery/js/autocomplete/jquery.autocomplete.js) %}"></script>
<link rel="stylesheet" type="text/css" href="{% uri (gallery/js/autocomplete/jquery.autocomplete.css) cache %}" />
<script type="text/javascript">
    $("#ips_gallery_id").autocomplete({
        url: '{% uri (admin/internal/dashboard/post/edit/autocomplete) cache %}',
        paramName: 'options',
        onItemSelect: function(obj) {
            var id = obj.data[0];
            var text = obj.value;
            var match = false;
            $(".gallery-item").each(function() {
                if ($(this).attr("id") == ("gallery-item-" + id)) {
                    match = true;
                }
            });
            if (!match) {
                $("#gallery-associate-itens").append('<span id="gallery-item-'+id+'" class="gallery-item" onclick="doRemoveGallery(this)">'+text+'</span>');
            } else {
                alert("Arquivo já selecionado!");
            }
            $("#ips_gallery_id").val("");
        },
        maxItemsToShow: 5
    });
</script>